{% extends 'base.html.twig' %}

{% block title %}
    Hv - {{ hv.usuario.nombreCompleto(true) }}
{% endblock %}
{% block body_header_class %}no-content{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin-hv') }}
{% endblock %}

{% block body %}
    <div class="row" id="hv-detalle">
        <div id="basicos" class="col-xl-12 mb-4 mb-xl-4">

            <section class="card">
                <div class="card-body">
                    <div class="row">
                        {{ include('admin/hv/detalle/_basicos.html.twig') }}
                    </div>
                </div>
            </section>

        </div>


        <div class="col-xl-12">

            <div class="tabs">
                <ul class="nav nav-tabs tabs-primary">
                    <li class="nav-item active">
                        <a class="nav-link" href="#estudios" data-toggle="tab">
                            <i class="fas fa-columns mr-2" aria-hidden="true"></i>
                            Formación
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#experiencia" data-toggle="tab">
                            <i class="fas fa-copy mr-2" aria-hidden="true"></i>Experiencia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#referencias" data-toggle="tab">
                            <i class="fas fa-tasks mr-2" aria-hidden="true"></i>Referencias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#familiares" data-toggle="tab">
                            <i class="fas fa-child mr-2" aria-hidden="true"></i>Familiares</a>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#vivienda" data-toggle="tab">#}
{#                            <i class="fas fa-home mr-2" aria-hidden="true"></i>Vivienda</a>#}
{#                    </li>#}
                </ul>
                <div class="tab-content">
                    <div id="estudios" class="tab-pane active">
                        {{ include('admin/hv/detalle/_estudios.html.twig') }}
                    </div>
                    <div id="experiencia" class="tab-pane">
                        {{ include('admin/hv/detalle/_experiencia.html.twig') }}
                    </div>
                    <div id="referencias" class="tab-pane">
                        {{ include('admin/hv/detalle/_referencias.html.twig') }}
                    </div>
                    <div id="familiares" class="tab-pane">
                        {{ include('admin/hv/detalle/_familiares.html.twig') }}
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}


