<div class="form-row">
    {{ form_row(form.nombreEmpresa, {
        container_attr: {class: 'col'},
        label_attr: {class: 'font-weight-bold text-dark text-2'}
    }) }}
</div>

<div class="form-row">
    {{ form_row(form.sector, {
        container_attr: {class: 'col'},
        label_attr: {class: 'font-weight-bold text-dark text-2'}
    }) }}
</div>

<div class="form-row">
    {{ form_row(form.servicio, {
        container_attr: {class: 'col'},
        label_attr: {class: 'font-weight-bold text-dark text-2'}
    }) }}
</div>

<div class="form-row">
    {{ form_row(form.nombreContacto, {
        container_attr: {class: 'col'},
        label_attr: {class: 'font-weight-bold text-dark text-2'}
    }) }}
</div>
<div class="form-row">
    {{ form_row(form.emailCorporativo, {
        container_attr: {class: 'col'},
        label_attr: {class: 'font-weight-bold text-dark text-2'}
    }) }}
</div>
<div class="form-row">
    {{ form_row(form.telefonoContacto, {
        container_attr: {class: 'col'},
        label_attr: {class: 'font-weight-bold text-dark text-2'}
    }) }}
</div>
<div class="form-row">
    {{ form_row(form.comentario, {
        container_attr: {class: 'col'},
        label_attr: {class: 'font-weight-bold text-dark text-2'}
    }) }}
</div>