<h2>
       Aplicación a formulario de candidatos
</h2>

<p>
    <strong>Nombres: </strong> {{data.primerNombre}} {{data.segundoNombre}} {{data.primerApellido}} {{data.segundoApellido}}
    <br>
    <strong>Identificacion: </strong> {{data.identificacion}}
    <br>
    <strong>Email: </strong> {{ data.email }}
    <br>
    <strong>Telefono: </strong> {{ data.telefono }}
    <br>
    <strong>Residencia: </strong> {{ data.residencia }}
    <br>
    <strong>Nacimiento: </strong> {{ data.nacimiento|date('Y-m-d') }}
    <br>
    <strong>Actividad: </strong> {{ data.actividad }}
</p>