{% extends 'datatable/base.datatable.html.twig' %}

{% block title %}
    Messages Hv
{% endblock %}

{% block body_header_title %}
    Messages Hv
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin-scraper-hv-list') }}
{% endblock %}


{% block body_header_right %}
    <ul class="u-list-inline">
        <li class="list-inline-item">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-primary{{ queue is same as('error') ? ' active' : '' }}"
                   href="{{ path('admin_scraper_hv_list') }}">
                    Error
                </a>
                <a class="btn btn-primary{{ queue is same as('success') ? ' active' : '' }}"
                   href="{{ path('admin_scraper_hv_list', {queue: 'success'}) }}">
                    Success
                </a>
                <a class="btn btn-primary{{ queue is same as('default') ? ' active' : '' }}"
                   href="{{ path('admin_scraper_hv_list', {queue: 'default'}) }}">
                    Default
                </a>
            </div>
        </li>
        <li class="list-inline-item mr-4">
            {{ parent() }}
        </li>
    </ul>
{% endblock %}


{% block body %}
    {{ parent() }}
    <div id="modalTest" class="modal-block mfp-hide proceso-visor">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">HOLA</h2>
            </header>
            <div class="card-body">
                <div class="modal-wrapper">
                    <div class="modal-text">
                        <div class="col-xs-12">
                            <p class="salidas console-view"></p>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-default modal-dismiss">Cancelar</button>
                    </div>
                </div>
            </footer>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin-scraper-hv-list') }}
{% endblock %}




