{{ form_start(vacanteForm, {attr: {novalidate: 'novalidate'}}) }}

<div class="row">
    <div class="col-lg-12">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">Datos básicos</h2>
            </header>
            <div class="card-body">
                <div class="row form-group">
                    <div class="col-lg-6">
                        {{ form_row(vacanteForm.titulo) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(vacanteForm.ciudad) }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-12">
                        {{ form_row(vacanteForm.descripcion) }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-12">
                        {{ form_row(vacanteForm.requisitos) }}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="form-row">
    <div class="col-md-12 text-right mt-3">
        <button class="btn btn-primary modal-confirm">
            {{ button_text }}
        </button>
    </div>
</div>


{{ form_end(vacanteForm, {'render_rest': false}) }}