{% extends 'base.html.twig' %}

{% block title %}
    Hv - {{ hv.usuario.nombreCompleto(true) }}
{% endblock %}
{% block page_header_title %}
    Hv - {{ hv.usuario.nombreCompleto(true) }}
{% endblock %}

{% set redesSocialesIcons = {
    1 : 'fab fa-skype', 2 : 'fab fa-twitter', 3: 'fab fa-facebook-f', 4: 'fab fa-whatsapp', 5: 'fab fa-linkedin-in'
} %}

{% block body %}
    <div class="row">
        <div class="col-lg-4 col-xl-3 mb-4 mb-xl-0">

            <section class="card">
                <div class="card-body">
                    {{ include('hv_admin/detalle/_basicos.html.twig') }}
                </div>
            </section>

        </div>
        <div class="col-lg-8 col-xl-6">

            <div class="tabs">
                <ul class="nav nav-tabs tabs-primary">
                    <li class="nav-item active">
                        <a class="nav-link" href="#estudios" data-toggle="tab">
                            <i class="fas fa-columns mr-2" aria-hidden="true"></i>
                            Formación
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#experiencia" data-toggle="tab">
                            <i class="fas fa-copy mr-2" aria-hidden="true"></i>Experiencia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#referencias" data-toggle="tab">
                            <i class="fas fa-tasks mr-2" aria-hidden="true"></i>Referencias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#familiares" data-toggle="tab">
                            <i class="fas fa-child mr-2" aria-hidden="true"></i>Familiares</a>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#vivienda" data-toggle="tab">#}
{#                            <i class="fas fa-home mr-2" aria-hidden="true"></i>Vivienda</a>#}
{#                    </li>#}
                </ul>
                <div class="tab-content">
                    <div id="estudios" class="tab-pane active">
                        {{ include('hv_admin/detalle/_estudios.html.twig') }}
                    </div>
                    <div id="experiencia" class="tab-pane">
                        {{ include('hv_admin/detalle/_experiencia.html.twig') }}
                    </div>
                    <div id="referencias" class="tab-pane">
                        {{ include('hv_admin/detalle/_referencias.html.twig') }}
                    </div>
                    <div id="familiares" class="tab-pane">
                        {{ include('hv_admin/detalle/_familiares.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">

            {% if hv.adjunto %}
                <h4 class="mb-3 mt-0">Hoja de vida</h4>
                <ul class="simple-card-list mb-3">
                    <li class="primary">
                        <a class="text-light" href="{{ path('hv_adjunto_download', {id: hv.id}) }}" target="_blank">
                            {{ hv.adjunto.originalFilename }}
                        </a>
                    </li>
                </ul>
            {% endif %}

            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    </div>

                    <h2 class="card-title">Redes sociales</h2>
                </header>
                <div class="card-body">
                    {{ include('hv_admin/detalle/_redes.html.twig') }}
                </div>
            </section>

        </div>

    </div>

{% endblock %}



