{% use "pta/blocks/admin-extension-stylesheets.html.twig" %}
<!DOCTYPE html>
<html lang="es" data-device-type="dedicated">
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}PTA - Personal Temporal y Asesorías{% endblock %}</title>

    <meta name="keywords" content="PTA trabajo temporal" />
    <meta name="description" content="PTA SAS líderes en servicios de suministro, selección, evaluación y administración de personal temporal en Colombia">
    <meta name="author" content="PTA SAS">


    {# fix subrequest de aplicar vacante este route bota null #}
    {% if(app.request.attributes.get('_route')) %}
        <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
    {% endif %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset("build/pta/images/favicon.ico") }}" type="image/x-icon" />
    <link rel=”apple-touch-icon” href=”{{ asset("build/pta/images/apple-touch-icon.png") }}”>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">


    {#<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400" rel="stylesheet" type="text/css">#}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88341755-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-88341755-1');
    </script>

    <meta property="og:title" content="PTA - Personal temporal y asesorias" />
    <meta property="og:description" content="Pagina web PTA SAS líderes en servicios de suministro, selección, evaluación y administración de personal temporal en Colombia" />
    {# fix subrequest de aplicar vacante este route bota null #}
    {% if(app.request.attributes.get('_route')) %}
        <meta property="og:url" content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
    {% endif %}
    <meta name="twitter:site" content="@pta_sas"/>
    <meta property="article:publisher" content="https://www.facebook.com/pta.com.co"/>
</head>



<body class="{{ is_sel() ? 'is-sel' : '' }} {{ loading_overlay_body_class() }}" {{ loading_overlay_body_options() }}>  {# class="{{ is_sel() ? 'pp-header-open' : '' }}" #}
{{ loading_overlay() }}
<div class="body" id="body"> {# class="body{{ is_sel() ? ' menu-open' : '' }}" #}
    {% block header %}
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            {{ include('pta/blocks/header/_switch-user.html.twig') }}
        {% endif %}
        <header class="table-row pp-header{{ is_sel() ? ' sel' : '' }}{{ app.user ? ' sel-active' : '' }}" role="banner">
            <div>

                <div class="containerCentered ">

                    <button id="menu-button" role="button">Menu</button>


                    <a href="{{ path('pta_index') }}" class="{% block header_logo_class %}pta-img-logo{% endblock %}">PTA</a>

                    {% block nav %}
                        {{ include('pta/blocks/header/_nav.html.twig') }}
                    {% endblock %}

                    {% block nav_admin %}
                        {% if app.user %}
                            {{ include('pta/blocks/header/_nav-admin.html.twig') }}
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </header>
    {% endblock %}

    {% block main %}
        <div role="main" class="main" id="main">
            {% block body_header %}
                <section
                        class="{% block body_header_class %}page-header page-header-classic page-header-md no-header{% endblock %}">
                    <div class="container">
                        <div class="row">
                            <div class="{% block body_header_title_class %}col-md-12 order-2 order-md-1 align-self-center p-static{% endblock %}">
                                <h1 {% block body_header_attrs %}data-title-border{% endblock %}>
                                    {% block body_header_title %}{% endblock %}
                                </h1>
                            </div>
                            {#<div class="col-md-4 order-1 order-md-2 align-self-center">
                                <ul class="breadcrumb d-block text-md-right">
                                    <li><a href="#">Home</a></li>
                                    <li class="active">Features</li>
                                </ul>
                            </div>#}
                            <div class="col-md-4 order-1 order-md-2 align-self-center">
                                {% block body_header_right %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </section>
            {% endblock %}

            {% block body %}
            {% endblock %}
        </div>

        {% block footer %}
            <footer id="footer" class="mt-0">
                <div class="container">
                    <div class="row pt-5">
                        <div class="col-md-12 justify-content-center justify-content-md-start mb-4 mb-lg-0">
                            <div class="row">
                                {% for key, oficina in configuracion.oficinas %}
                                    <div class="col-md-3 mb-5">
                                        <div class="ml-3 text-center text-md-left">
                                            <h5 class="text-3 mb-0 text-color-light">{{ oficina.ciudad }}</h5>
                                            <p class="text-4 mb-0">
                                                <i class="fas fa-map-marker-alt text-color-primary top-1 p-relative"></i>
                                                <span class="pl-1">{{ oficina.direccion }}</span><br>
                                                <i class="fas fa-phone text-color-secondary top-1 p-relative"></i>
                                                <span class="pl-1">{{ oficina.telefono }}</span><br>
                                                <i class="fas fa-envelope text-color-tertiary top-1 p-relative"></i>
                                                <span class="pl-1">
                                                    <a href="{{ path('pta_contacto', {'oficina': key}) }}" >
                                                        Contactar
                                                    </a>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}


                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container py-2">
                        <div class="row py-4">
                            <div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
                                <a href="{{ path('pta_index') }}" class="logo pr-0 pr-lg-3">
                                    <img alt="PTA Sitio Web Logo" title="pta logo" src="{{asset('build/pta/images/logo-PTA-footer.png')}}" class="opacity-5" height="16">
                                </a>
                            </div>
                            <div class="col-lg-5 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
                                <p>© {{ 'now'|date('Y') }}. Todos los derechos reservados.</p>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-end">
                                <nav id="sub-menu">
                                    <ul>
                                        <li><i class="fas fa-angle-right"></i><a href="{{ path('aviso_privacidad') }}" class="ml-1 text-decoration-none">
                                                Aviso de privacidad
                                            </a></li>
                                        <li><i class="fas fa-angle-right"></i><a href="{{ path('politica') }}" class="ml-1 text-decoration-none">
                                                Política de tratamiento de datos personales
                                            </a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
    {% endblock %}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}


</body>
</html>
