{% use "pta/blocks/admin-extension-stylesheets.html.twig" %}
<!DOCTYPE html>
<html lang="es" data-device-type="dedicated">
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}PTA - Personal Temporal y Asesorías{% endblock %}</title>

    <meta name="keywords" content="PTA trabajo temporal " />
    <meta name="description" content="Pagina web pta">
    <meta name="author" content="PTA SAS">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset("build/images/pta/favicon.ico") }}" type="image/x-icon" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400" rel="stylesheet" type="text/css">

    {% block stylesheets %}

        {{ encore_entry_link_tags('app') }}

        <!-- Vendor CSS -->


        <link rel="stylesheet" href="{{ asset('/vendor/animate/animate.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/vendor/simple-line-icons/css/simple-line-icons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/vendor/owl.carousel/assets/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/vendor/owl.carousel/assets/owl.theme.default.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/vendor/magnific-popup/magnific-popup.css') }}">


        {#        {% if app.user %}#}
        {#            {% block admin_extension_stylesheets %}#}
        {#                {{ parent() }}#}
        {#            {% endblock %}#}
        {#        {% endif %}#}


        <!-- Current Page CSS -->
        <link rel="stylesheet" href="{{ asset('/vendor/rs-plugin/css/settings.css') }}">
        <link rel="stylesheet" href="{{ asset('/vendor/rs-plugin/css/layers.css') }}">
        <link rel="stylesheet" href="{{ asset('/vendor/rs-plugin/css/navigation.css') }}">

        <!-- Demo CSS -->


        {% if app.user %}
            <link rel="stylesheet" href="{{ asset('css/pta/theme-header-nav-features.css') }}">
            <link rel="stylesheet" href="{{ asset('css/pta/admin-nav.css') }}">
        {% endif %}
        <!-- Head Libs -->
        <script src="{{ asset('vendor/modernizr/modernizr.js') }}"></script>
    {% endblock %}
</head>



<body class="{{ is_sel() ? 'pp-header-open' : '' }}">

<div class="body{{ is_sel() ? ' menu-open' : '' }}" id="body">

    {% block header %}
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            {{ include('pta/blocks/header/_switch-user.html.twig') }}
        {% endif %}
        <header class="table-row pp-header{{ is_sel() ? ' sel' : '' }}{{ app.user ? ' sel-active' : '' }}" role="banner">
            <div>

                <div class="containerCentered ">

                    <a href="#Menu" id="menu-button" role="button">Menu</a>


                    <a href="{{ path('pta_index') }}" class="{% block header_logo_class %}pta-img-logo{% endblock %}">PTA</a>

                    {% block nav %}
                        {{ include('pta/blocks/header/_nav2.html.twig') }}
                    {% endblock %}

                    {% block nav_admin %}
                        {% if app.user %}
                            {{ include('pta/blocks/header/_nav-admin.html.twig') }}
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </header>
    {% endblock %}

    {% block main %}
        <div role="main" class="main" id="main">
            {% block body_header %}
                <section
                        class="{% block body_header_class %}page-header page-header-classic page-header-md no-header{% endblock %}">
                    <div class="container">
                        <div class="row">
                            <div class="{% block body_header_title_class %}col-md-12 order-2 order-md-1 align-self-center p-static{% endblock %}">
                                <h1 {% block body_header_attrs %}data-title-border{% endblock %}>
                                    {% block body_header_title %}{% endblock %}
                                </h1>
                            </div>
                            {#<div class="col-md-4 order-1 order-md-2 align-self-center">
                                <ul class="breadcrumb d-block text-md-right">
                                    <li><a href="#">Home</a></li>
                                    <li class="active">Features</li>
                                </ul>
                            </div>#}
                            <div class="col-md-4 order-1 order-md-2 align-self-center">
                                {% block body_header_right %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </section>
            {% endblock %}

            {% block body %}
            {% endblock %}
        </div>

        {% block footer %}
            <footer id="footer" class="mt-0">
                <div class="container">
                    <div class="row pt-5">
                        <div class="col-md-12 justify-content-center justify-content-md-start mb-4 mb-lg-0">
                            <div class="row">
                                {% for oficina in configuracion.oficinas %}
                                    <div class="col-md-3 mb-5">
                                        <div class="ml-3 text-center text-md-left">
                                            <h5 class="text-3 mb-0 text-color-light">{{ oficina.ciudad }}</h5>
                                            <p class="text-4 mb-0">
                                                <i class="fas fa-map-marker-alt text-color-primary top-1 p-relative"></i>
                                                <span class="pl-1">{{ oficina.direccion }}</span><br>
                                                <i class="fas fa-phone text-color-secondary top-1 p-relative"></i>
                                                <span class="pl-1">{{ oficina.telefono }}</span><br>
                                                <i class="fas fa-envelope text-color-tertiary top-1 p-relative"></i>
                                                <span class="pl-1">{{ oficina.email }}</span>
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}


                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container py-2">
                        <div class="row py-4">
                            <div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
                                <a href="{{ path('pta_index') }}" class="logo pr-0 pr-lg-3">
                                    <img alt="Porto Website Template" src="{{asset('build/images/logo-PTA-footer.png')}}" class="opacity-5" height="16">
                                </a>
                            </div>
                            <div class="col-lg-5 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
                                <p>© {{ 'now'|date('Y') }}. Todos los derechos reservados.</p>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-end">
                                <nav id="sub-menu">
                                    <ul>
                                        <li><i class="fas fa-angle-right"></i><a href="{{ path('pta_aviso_privacidad') }}" class="ml-1 text-decoration-none">
                                                Aviso de privacidad
                                            </a></li>
                                        <li><i class="fas fa-angle-right"></i><a href="{{ path('pta_politica') }}" class="ml-1 text-decoration-none">
                                                Política de tratamiento de datos personales
                                            </a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
    {% endblock %}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}


    <!-- Vendor -->
    <script src="{{ asset('/vendor/jquery.appear/jquery.appear.min.js') }}"></script>
    <script src="{{ asset('/vendor/jquery.easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('/vendor/jquery.cookie/jquery.cookie.min.js') }}"></script>
    <script src="{{ asset('/vendor/common/common.min.js') }}"></script>
    <script src="{{ asset('/vendor/jquery.validation/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js') }}"></script>
    <script src="{{ asset('/vendor/jquery.gmap/jquery.gmap.min.js') }}"></script>
    <script src="{{ asset('/vendor/jquery.lazyload/jquery.lazyload.min.js') }}"></script>
    <script src="{{ asset('/vendor/isotope/jquery.isotope.min.js') }}"></script>
    <script src="{{ asset('/vendor/owl.carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('/vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('/vendor/vide/jquery.vide.min.js') }}"></script>
    <script src="{{ asset('/vendor/vivus/vivus.min.js') }}"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="{{ asset('/js/pta/theme.js') }}"></script>

    <!-- Theme Custom -->
    <script src="{{ asset('/js/pta/custom.js') }}"></script>

    <!-- Theme Initialization Files -->
    <script src="{{ asset('/js/pta/theme.init.js') }}"></script>
    <script src="{{ asset('/js/pta/6d-menu.js') }}"></script>



    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-12345678-1', 'auto');
        ga('send', 'pageview');
    </script>
     -->
{% endblock %}



</body>
</html>
