{% extends 'pta/base.html.twig' %}

{% block body_header %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('index') }}
    {{ parent() }}
{% endblock %}


{% block body %}
    {{ include('pta/blocks/index-hero/_index-hero-tres2.html.twig') }}

    <div class="home-intro mb-0" id="home-intro">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-lg-8">
                    <p>
                        Desde 1985, somos el aliado estratégico de su empresa.
                        <span>Suministramos personal calificado para diferentes sectores economicos</span>
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="get-started text-left text-lg-right">
                        <a href="{{ path('pta_servicios') }}" class="btn btn-primary btn-lg text-3 font-weight-semibold px-4 py-3">
                            Conocer mas sobre nosotros!
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="cuadros-top">
        <div class="container">
            <div class="row justify-content-center appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                <div class="col">
                    <h1 class="text-10 font-weight-normal text-color-dark mb-0 line-height-4">
                        <span class="text-color-primary font-weight-bold ">PTA S.A.S</span>
                    </h1>
                    <h4>
                        Personal Temporal y Asesorías
                    </h4>
                    <p class="text-5 font-weight-normal text-color-dark line-height-7">
                        Respaldados por nuestra amplia experiencia en la administración de recursos humanos,
                        nos posicionamos en el mercado como una de las empresas líderes del sector.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row counters counters-sm py-4 mt-0">
            <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                <div class="counter">
                    <i class="fa fa-building"></i>
                    <strong class="text-color-dark font-weight-extra-bold" data-to="150" data-append="+">0</strong>
                    <label class="text-4 mt-1">Empresas usuarias</label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                <div class="counter">
                    <i class="fa fa-user"></i>
                    <strong class="text-color-dark font-weight-extra-bold" data-to="3500" data-append="+">0</strong>
                    <label class="text-4 mt-1">Empleados en misión</label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                <div class="counter">
                    <i class="fa fa-medal"></i>
                    <strong class="text-color-dark font-weight-extra-bold" data-to="36">0</strong>
                    <label class="text-4 mt-1">Años de experiencia</label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="counter">
                    <i class="fa fa-home"></i>
                    <strong class="text-color-dark font-weight-extra-bold" data-to="6" data-append="">0</strong>
                    <label class="text-4 mt-1">Agencias en Colombia</label>
                </div>
            </div>
        </div>

    </div>




    <section class="section section-height-5 bg-light border border-bottom-0 m-0 cualidades">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-box feature-box-style-2 reverse mb-xl appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
                        <div class="feature-box-icon">
                            <i class="fa fa-bolt"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="mb-sm">Politica de calidad</h4>
                            <p class="mb-lg">
                                Satisfacer a los clientes en el suministro de empleados en misión idóneos,
                                garantizando la calidad del servicio.
                            </p>
                        </div>
                    </div>
                    <div class="feature-box feature-box-style-2 reverse mt-xl appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="600">
                        <div class="feature-box-icon">
                            <i class="fa fa-arrows-alt"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="mb-sm">Presencia en varias ciudades</h4>
                            <p class="mb-lg">
                                Amplia red de oficinas que, trabajando en equipo,
                                aseguran cobertura en las principales ciudades de Colombia.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{{ asset('build/pta/images/mockup-porto2.png') }}" title="experiencia e innovacion"
                         class="img-responsive mockup-landing-page mb-xl appear-animation" alt="experiencia e innovacion" data-appear-animation="fadeInDown" data-appear-animation-delay="300">
                </div>
                <div class="col-md-4">
                    <div class="feature-box feature-box-style-2 mb-xl appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
                        <div class="feature-box-icon">
                            <i class="fa fa-puzzle-piece"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="mb-sm">Aliado Estrategico</h4>
                            <p class="mb-lg">
                                Nuestro principal motor es lograr cumplir los objetivos de nuestros clientes,
                                aportando experiencia y compromiso.
                            </p>
                        </div>
                    </div>
                    <div class="feature-box feature-box-style-2 mt-xl appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="600">
                        <div class="feature-box-icon">
                            <i class="fa fa-chart-line"></i>
                        </div>
                        <div class="feature-box-info">

                            <h4 class="mb-sm">Crecimiento continuo</h4>

                            <p class="mb-lg">
                                Buscamos constantemente el mejoramiento continuo de nuestros procesos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-height-5 bg-light border border-bottom-0 m-0 ultimas-noticias">
        <section class="section section-default section-footer">
            <div class="container">
                <div class="row mt-4 appear-animation" data-appear-animation="fadeInUpShorter">
                    <div class="col-lg-12">
                        <div class="recent-posts mb-5">
                            <h2 class="font-weight-normal text-6 mb-4">
                                <strong class="font-weight-extra-bold">Últimas</strong> noticias
                            </h2>
                            <div class="owl-carousel owl-theme dots-title mb-0" data-plugin-options="{'items': 1, 'autoHeight': true, 'autoplay': true, 'autoplayTimeout': 8000}">
                                <div class="row">
                                    <div class="col-lg-6 mb-4 mb-lg-0">
                                        <article class="post">
                                            <div class="row">
                                                <div class="col-auto pr-0">
                                                    <div class="post-date">
                                                        <span class="day font-weight-extra-bold">6</span>
                                                        <span class="month text-1">Sep</span>
                                                        <span class="year">2021</span>
                                                    </div>
                                                </div>
                                                <div class="col pl-1">
                                                    <h4 class="text-primary text-4">
                                                        ¡Comunicado de alerta!
                                                    </h4>
                                                    <p>
                                                        Nos permitimos informar que PTA SAS <strong>no solicita dinero o pago de pólizas</strong>
                                                        para vincular a trabajadores.
                                                    </p>
                                                    <p>
                                                        No se deje engañar por estafadores, si recibe este tipo de solicitudes por favor absténgase de pagar dinero y
                                                        denuncie a nuestro correo electrónico
                                                        <a href="mailto:notificaciones@pta.com.co">notificaciones@pta.com.co</a>
                                                        y si es posible envie todas las pruebas.
                                                    </p>
                                                    <p>
                                                        Los delincuentes utilizan el correo
                                                        <a href="mailto:angelicamendezpta@hotmail.com.co">angelicamendezpta@hotmail.com.co</a>
                                                    </p>
                                                </div>

                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-lg-6">
                                        <article class="post">
                                            <div class="row">
                                                <div class="col-auto pr-0">
                                                    <div class="post-date">
                                                        <span class="day font-weight-extra-bold">16</span>
                                                        <span class="month text-1">Mar</span>
                                                        <span class="year">2020</span>
                                                    </div>
                                                </div>
                                                <div class="col pl-1">
                                                    <h4 class="text-primary text-4">
                                                        <a class="d-block" href="blog-post.html">
                                                            Comunicado plan de contingencia Covid-19
                                                        </a>
                                                    </h4>
                                                    <p class="pr-4 mb-0">
                                                        <strong>Nuestras sedes están cerradas para la atención al público</strong> y las inquietudes, solicitudes o
                                                        aclaraciones, las estamos atendiendo a través de los siguientes canales:
                                                    </p>
                                                    <p style="margin: 15px 5px; color: #721c24;line-height: 20px;">
                                                        Si usted es proveedor comuníquese al correo
                                                        <a href="mailto:contador@pta.com.co">contador@pta.com.co</a>
                                                        o al teléfono 318 716 13 18<br>
                                                        Si Usted es Trabajador en Misión al correo
                                                        <a href="mailto:servicioalcliente2@pta.com.co">servicioalcliente2@pta.com.co</a>
                                                        o al teléfono 310 379 56 72 y 321 343 85 72<br>
                                                        Si Usted es Empresa Usuaria o requiere contratar nuestros servicios al correo
                                                        <a href="mailto:fernanda.sanchez@pta.com.co">fernanda.sanchez@pta.com.co</a>
                                                        o al teléfono 316 834 57 26
                                                    </p>
                                                    <button class="read-more text-color-dark font-weight-semibold text-2"
                                                            data-toggle="modal" data-target="#coronaModal" id="corona-modal-trigger">
                                                        Leer más <i class="fas fa-angle-right position-relative top-1 ml-1"></i>
                                                    </button>

                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>


    <a href="https://www.mipagoamigo.com/MPA_WebSite/ServicePayments/StartPayment?id=5437&searchedCategoryId=&searchedAgreementName=PTA%20%20SAS"
       class="floating-recaudo" target="_blank">
    </a>

    <div class="modal fade" id="coronaModal" tabindex="-1" role="dialog" aria-labelledby="coronaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="coronaModalLabel">
                        Comunicado plan de contingencia Covid-19
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    {{ include('pta/blocks/header/_coronavirus.html.twig') }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index') }}
{% endblock %}
