{% extends 'pta/base.html.twig' %}

{% block body %}
<section class="page-header page-header-classic page-header-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 data-title-border>Sobre nosotros</h1>
            </div>
        </div>
    </div>
</section>

<div class="container pb-1">

    <div class="row pt-4">
        <div class="col">
            <div class="overflow-hidden mb-3">
                <h2 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation" data-appear-animation="maskUp">
                    <span>PTA SAS 30 Años de</span>
                    <span class="word-rotator-words bg-primary">
                        <b class="is-visible">calidad.</b>
                        <b>progreso.</b>
                        <b>solidez.</b>
                    </span>
                </h2>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-lg-12">
            <div class="overflow-hidden">
                <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">
                    Somos una organización responsable y comprometida en aportar talento humano de excelencia,
                    con el propósito de superar las expectativas de las empresas usuarias aliadas, generando
                    desarrollo social y humano apoyados en la innovación y la tecnología
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col py-4">
            <hr class="solid">
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <h3 class="heading-primary"><strong>Nuestra</strong> Empresa</h3>
            <ul>
                <li>
                    Somos líderes en servicios de suministro, selección, evaluación y administración de personal en misión.
                </li>
                <li>
                    Somos una organización sólida tanto en sus valores corporativos, como estructura funcional y financiera.
                </li>
                <li>
                    Reflejamos una imagen de solidez y reconocimiento en todo el país gracias a nuestro excelente servicio.
                </li>
                <li>
                    Contamos con varias sedes en Colombia. La sede principal se encuentra
                    en Bogotá y tenemos sucursales en: Medellín, Barranquilla, Cali, Ibagué, Bucaramanga, Pereira y Duitama.
                </li>
                <li>
                    Actualmente tenemos más de 3.500 empleados en misión distribuidos en
                    150 empresas usuarias aproximadamente.
                <li>
                    Tenemos más de 50 empleados de planta dando soporte al servicio de PTA.
                </li>

                <li>
                    Estamos certificados en la norma de calidad  ISO 9001:2008 desde el año 2009.
                </li>
            </ul>
        </div>
    </div>

    <section class="section section-default border-0 appear-animation" data-appear-animation="fadeIn"
             data-appear-animation-delay="750">
        <div class="container py-4">

            <div class="row align-items-center">
                <div class="col-md-4 appear-animation" data-appear-animation="fadeInLeftShorter"
                     data-appear-animation-delay="1000">
                    <div class="owl-carousel owl-theme nav-inside mb-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}">
                        <div>
                            <img alt="" class="img-fluid" src="{{ asset('/img/nosotros-responsabilidad.jpg')}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-7 offset-md-1">
                    <div class="overflow-hidden mb-2">
                        <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200">
                            <strong class="font-weight-extra-bold">Responsabilidad</strong>, Honestidad y Ética
                        </h2>
                    </div>
                    <p class="appear-animation lead" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">
                        Dada las diferentes opciones y buscando dar la mejor solución a nuestros clientes y empleados
                        optamos por tener un conocimiento profundo del mercado que nos permita actuar y responder
                        de la mejor forma posible.
                    </p>
                    <p class="mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">
                        Reconocemos nuestra responsabilidad en nuestras relaciones internas y externas, tanto en clientes,
                        empleados y provedores. Es por esto que en nuestros valores corporativos la honestidad
                        y la ética desempeñan un papel importante.
                    </p>
                </div>
            </div>

        </div>
    </section>

    <section class="section section-default border-0 appear-animation" data-appear-animation="fadeIn"
             data-appear-animation-delay="750">
        <div class="container py-4">

            <div class="row align-items-center">

                <div class="col-md-7 offset-md-1">
                    <div class="overflow-hidden mb-2">
                        <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200">
                            Organización y <strong class="font-weight-extra-bold">Compromiso</strong>
                        </h2>
                    </div>
                    <p class="appear-animation lead" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">
                        Nuestra continua búsqueda de crecimiento y progreso nos obligan a guiar nuestros
                        procesos y servicios a la excelencia.
                    </p>
                    <p class="mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">
                        Trabajamos continuamente en mejorar la organización y comunicación de nuestros procedimientos
                        inculcando en todos nuestros colaboradores el compromiso que permita alcanzar nuestros
                        objetivos y satisfacción de nuestros clientes.
                    </p>
                </div>

                <div class="col-md-4 appear-animation" data-appear-animation="fadeInLeftShorter"
                     data-appear-animation-delay="1000">
                    <div class="owl-carousel owl-theme nav-inside mb-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}">
                        <div>
                            <img alt="" class="img-fluid" src="{{ asset('/img/nosotros-organizacion.jpg')}}">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="section section-default border-0 appear-animation" data-appear-animation="fadeIn"
             data-appear-animation-delay="750">
        <div class="container py-4">

            <div class="row align-items-center">
                <div class="col-md-4 appear-animation" data-appear-animation="fadeInLeftShorter"
                     data-appear-animation-delay="1000">
                    <div class="owl-carousel owl-theme nav-inside mb-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}">
                        <div>
                            <img alt="" class="img-fluid" src="{{ asset('/img/nosotros-creatividad.jpg')}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-5 offset-md-1">
                    <div class="overflow-hidden mb-2">
                        <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200">
                            <strong class="font-weight-extra-bold">Cumplimiento</strong>, Creatividad e Innovación
                        </h2>
                    </div>
                    <p class="appear-animation lead" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">
                        Es de vital importancia lograr la plena satisfacción de nuestros clientes
                        ofreciendoles las soluciones necesarias en los tiempos que se requieran.
                    </p>
                    <p class="mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">
                        Dado el constante cambio de los mercados, uno de los pilares
                        de nuestra organización es el pensamiento original y creativo que genere
                        nuevas ideas y conceptos que produzcan soluciones novedosas.
                    </p>
                </div>
            </div>

        </div>
    </section>

    <section class="section section-default border-0 appear-animation" data-appear-animation="fadeIn"
             data-appear-animation-delay="750">
        <div class="container py-4">

            <div class="row align-items-center">

                <div class="col-md-7 offset-md-1">
                    <div class="overflow-hidden mb-2">
                        <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200">
                            Servicio y <strong class="font-weight-extra-bold">Puntualidad</strong>
                        </h2>
                    </div>
                    <p class="appear-animation lead" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">
                        Tenemos la actitud de disposición, atención y gestión para satisfacer las necesidades
                        de nuestros clientes.
                    </p>
                    <p class="mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">
                        Dada nuestra experiencia, tenemos la capacidad para establecer compromisos
                        con el objetivo de dar cumplimiento a las acciones encomendadas.
                    </p>
                </div>

                <div class="col-md-4 appear-animation" data-appear-animation="fadeInLeftShorter"
                     data-appear-animation-delay="1000">
                    <div class="owl-carousel owl-theme nav-inside mb-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}">
                        <div>
                            <img alt="" class="img-fluid" src="{{ asset('/img/nosotros-servicio.jpg')}}">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    

    <!-- ALIADOS ESTRATEGICOS -->

    <div class="row text-center py-5">
        <div class="col-md-12">
            <h4 class="word-rotator slide font-weight-bold text-6 mb-0 appear-animation" data-appear-animation="maskUp">
                <span>No solo tenemos</span>
                <span class="word-rotator-words bg-primary">
                    <b class="is-visible">experiencia.</b>
                    <b>calidad.</b>
                </span>
                <span>Alianzas estratégicas apoyan nuestra gestión.</span>
            </h4>
            <h4 class="heading-primary lead tall">Servicios, outsourcing, tercerización, RPO.</h4>
        </div>
        <div class="col-md-12 logos">

            <a href="http://servilabor.com.co" target="_blank" class="servilabor">
                <img class="img-1" src="{{ asset('/img/logos/servilabor.png') }}" width="173" alt="logo servilabor">
            </a>
            <a href="http://www.nortempo.com/es/" target="_blank" class="nortempo">
                <img class="" src="{{ asset('/img/logos/nortempo2.jpg') }}" width="173" alt="">
            </a>

        </div>
    </div>



    <!-- /ALIADOS ESTRATEGICOS -->

</div>
{% endblock %}