{{ form_start(form, { attr: {
    class: 'form-entity',
    novalidate:'novalidate',
    'data-url': path('hv_entity_update', {'entity': 'estudio'})
}}) }}

<div class="form-row">
    {{ form_row(form.codigo, {
        container_attr: {class: 'col-md-6'},
        attr: {class: 'chosen'}
    }) }}
    {{ form_row(form.nombre, {container_attr: {class: 'col-md-6'}}) }}
</div>

{{ form_row(form.instituto, {
    attr: {class: 'chosen'}
}) }}
{{ form_row(form.institutoNombreAlt) }}

<div class="form-row">
    {% set finOptions = {
        format: "yyyy-mm-dd",
        language: "es",
        startDate: "1950-01-01"
    } %}
    {{ form_row(form.fin, {
        attr: {
            'data-plugin-datepicker': '',
            'data-plugin-options': finOptions|json_encode|raw,
            'data-plugin-masked-input': '',
            'data-input-mask': "9999-99-99",
            'placeholder': "____-__-__"
        },
        container_attr: {class: 'col-md-6'}
    }) }}
    {# form_row(form.graduado, {container_attr: {class: 'col-md-3'}}) }}
    {{ form_row(form.cancelo, {container_attr: {class: 'col-md-3'}}) #}
</div>

{{ form_end(form) }}