{{ form_start(form, { attr: {
    class: 'form-entity',
    novalidate:'novalidate',
    'data-url': path('hv_entity_update', {'entity': 'experiencia'})
}}) }}

<div class="form-row">
    {{ form_row(form.empresa, {container_attr: {class: 'col-md-6'}}) }}
    {{ form_row(form.cargo, {container_attr: {class: 'col-md-6'}}) }}
</div>

<div class="form-row">
    {{ form_row(form.area, {container_attr: {class: 'col-md-6'}, attr: {class: 'chosen'}}) }}
    {{ form_row(form.duracion, {container_attr: {class: 'col-md-6'}}) }}
</div>

<div class="form-row">
    {{ form_row(form.descripcion, {container_attr: {class: 'col-md-6'}}) }}
    {{ form_row(form.logrosObtenidos, {container_attr: {class: 'col-md-6'}}) }}
</div>

{{ form_row(form.motivoRetiro) }}

<div class="form-row">
    {{ form_row(form.jefeInmediato, {container_attr: {class: 'col-md-6'}}) }}
    {{ form_row(form.telefonoJefe, {container_attr: {class: 'col-md-6'}}) }}
</div>


<div class="form-row">
    {{ form_row(form.salarioBasico, {container_attr: {class: 'col-md-4'}}) }}

    {% set fechaOptions = {
        format: "yyyy-mm-dd",
        language: "es",
        startDate: "1950-01-01"
    } %}

    {{ form_row(form.fechaIngreso, {
        attr: {
            'data-plugin-datepicker': '',
            'data-plugin-options': fechaOptions|json_encode|raw,
            'data-plugin-masked-input': '',
            'data-input-mask': "9999-99-99",
            'placeholder': "____-__-__"
        },
        container_attr: {class: 'col-md-4'}
    }) }}
    {{ form_row(form.fechaRetiro, {
        attr: {
            'data-plugin-datepicker': '',
            'data-plugin-options': fechaOptions|json_encode|raw,
            'data-plugin-masked-input': '',
            'data-input-mask': "9999-99-99",
            'placeholder': "____-__-__"
        },
        container_attr: {class: 'col-md-4'}
    }) }}
</div>


{{ form_end(form) }}