{{ form_start(form, { attr: {
    class: 'form-entity',
    novalidate:'novalidate',
    'data-url': path('hv_entity_update', {'entity': 'familiar'})
}}) }}

<div class="form-row">
    {{ form_row(form.nombre, {container_attr: {class: 'col-md-4'}}) }}
    {{ form_row(form.primerApellido, {container_attr: {class: 'col-md-4'}}) }}
    {{ form_row(form.segundoApellido, {container_attr: {class: 'col-md-4'}}) }}
</div>

<div class="form-row">
    {{ form_row(form.identificacion, {container_attr: {class: 'col-md-6'}}) }}
    {{ form_row(form.identificacionTipo, {container_attr: {class: 'col-md-6'}}) }}
</div>

<div class="form-row">
    {% set nacimientoOptions = {
        format: "yyyy-mm-dd",
        language: "es",
        startDate: "1920-01-01"
    } %}
    {{ form_row(form.nacimiento, {
        attr: {
            'data-plugin-datepicker': '',
            'data-plugin-options': nacimientoOptions|json_encode|raw,
            'data-plugin-masked-input': '',
            'data-input-mask': "9999-99-99",
            'placeholder': "____-__-__"
        },
        container_attr: {class: 'col-md-6'}
    }) }}
    {{ form_row(form.parentesco, {container_attr: {class: 'col-md-6'}}) }}
</div>

<div class="form-row">
    {{ form_row(form.ocupacion, {container_attr: {class: 'col-md-6'}}) }}
    {{ form_row(form.nivelAcademico, {container_attr: {class: 'col-md-6'}}) }}
</div>

<div class="form-row">
    {{ form_row(form.genero, {container_attr: {class: 'col-md-6'}}) }}
    {{ form_row(form.estadoCivil, {container_attr: {class: 'col-md-6'}}) }}
</div>


{{ form_end(form) }}