{{ form_start(form, { attr: {
    class: 'form-entity',
    novalidate:'novalidate',
    'data-url': path('hv_entity_update', {'entity': 'vivienda'})
}}) }}


<div class="form-row">
    {{ form_row(form.direccion, {container_attr: {class: 'col-md-8'}}) }}
    {{ form_row(form.estrato, {container_attr: {class: 'col-md-4'}}) }}
</div>
<div class="form-row">
    {{ form_row(form.pais, {
        attr: {class: 'chosen pais'},
        container_attr: {class: 'col-md-4'}
    }) }}
    {{ form_row(form.dpto, {
        attr: {class: 'chosen dpto'},
        container_attr: {class: 'col-md-4'}
    }) }}
    {{ form_row(form.ciudad, {
        attr: {class: 'chosen'},
        container_attr: {class: 'col-md-4'}
    }) }}
</div>
<div class="form-row">
    {{ form_row(form.tipoVivienda, {container_attr: {class: 'col-md-6'}}) }}
    {{ form_row(form.tenedor, {container_attr: {class: 'col-md-6'}}) }}
</div>

{{ form_row(form.viviendaActual) }}

{{ form_end(form) }}