{% extends 'base.html.twig' %}
{% if datatables is not empty %}
    {% import 'datatable/input.datatable.html.twig' as input %}
{% endif %}

{% block title %}Inicio{% endblock %}
{% block body_header_title %}
    Dashboard
{% endblock %}

{% block body %}
    {% if datatables is not empty %}
        <div class="row">
            <div class="col-md-12 mb-5">
                <section class="card">
                    <header class="card-header">
                        Ultimos comprobantes de pago
                    </header>
                    <div class="card-body">
                        <div id="comprobantes">Loading...</div>
                        <div class="text-right">
                            <a href="{{ path('app_comprobantes') }}" class="btn btn-primary">Ver todos</a>
                        </div>
                    </div>

                </section>
            </div>

            <div class="col-md-12">
                <section class="card">
                    <header class="card-header">
                        Ultimos Aportes a seguridad social
                    </header>
                    <div class="card-body">
                        <div id="aportes">Loading...</div>
                        <div class="text-right">
                            <a href="{{ path('app_certificados_aportes') }}" class="btn btn-primary">Ver todos</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if datatables is not empty %}
        {% embed 'datatable/javascripts.datatable.html.twig' %}
            {% block script_datatable %}
                <script>
                    $(function () {
                        {% for key, datatable in datatables %}
                            $('#{{ key }}').initDataTables({{ datatable_settings(datatable) }});
                        {% endfor %}
                    });
                </script>
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endblock %}