<nav class="collapse">
    <ul class="nav nav-pills" id="mainNav">
        <li class="dropdown">
            <a href="{{ path('pta_index') }}"
               class="dropdown-item dropdown-toggle {{ app.request.attributes.get('_route') is same as('pta_index') ? 'active' : '' }}" >
                Inicio
            </a>
        </li>
        <li class="dropdown dropdown-mega">
            <a class="dropdown-item dropdown-toggle {{ app.request.attributes.get('_route') is same as('pta_nosotros') ? 'active' : '' }}"
               href="{{ path('pta_nosotros') }}">
                Nosotros
            </a>
        </li>
        <li class="dropdown">
            <a class="dropdown-item dropdown-toggle {{ app.request.attributes.get('_route') is same as('pta_servicios') ? 'active' : '' }}"
               href="{{ path('pta_servicios') }}">
                Servicios
            </a>
        </li>
        <li class="dropdown">
            {% set active = app.request.attributes.get('_route') in ['vacante_listado', 'vacante_detalle', 'vacante_aplicar'] %}
            <a class="dropdown-item dropdown-toggle {{ active ? 'active' : '' }}"
               href="{{ path('vacante_listado') }}">
                Ofertas de empleo
            </a>
        </li>
        <li class="dropdown">
            {% set active = app.request.attributes.get('_route') in ['pta_noticias', 'pta_noticias_categoria', 'pta_noticia'] %}
            <a class="dropdown-item dropdown-toggle {{ active ? 'active' : '' }}"
               href="{{ path('pta_noticias') }}">
                Noticias / Laborales
            </a>
        </li>
        <li class="dropdown">
            <a class="dropdown-item dropdown-toggle {{ app.request.attributes.get('_route') is same as('pta_contacto') ? 'active' : '' }}"
               href="{{ path('pta_contacto') }}">
                Contacto
            </a>
        </li>
    </ul>
</nav>