{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}
{% block body_header_title %}
    Panel de inicio
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('datatable') }}
{% endblock %}

{% block body %}
    {% if datatables is not empty %}
        <div class="row">
            <div class="col-lg-8 mb-5">
                <section class="card">
                    <header class="card-header">
                        Ultimos comprobantes de pago
                    </header>
                    <div class="card-body">
                        <div id="comprobantes" class="datatable" data-settings='{{ datatable_settings(datatables.comprobantes) }}'>
                            Cargando...
                        </div>
                        <div class="text-right">
                            <br>
                            <a href="{{ path('se_comprobantes') }}" class="btn btn-primary">Ver todos</a>
                        </div>
                    </div>

                </section>
            </div>

            <div class="col-lg-4">
                <div class="row mb-3">
                    {% if certificadoLaboral is not empty %}
                        <div class="col-xl-12">
                            <section class="card card-featured-left card-featured-primary mb-3">
                                <div class="card-body">
                                    <a href="{{ path('se_certificado_laboral_pdf', {certificado: certificadoLaboral.id}) }}" target="_blank">
                                        <div class="widget-summary">
                                            <div class="widget-summary-col widget-summary-col-icon">
                                                <div class="summary-icon bg-primary">
                                                    <i class="fas fa-file-invoice"></i>
                                                </div>
                                            </div>
                                            <div class="widget-summary-col">
                                                <div class="summary">
                                                    <div class="info">
                                                        <strong class="amount">Certificado <br>laboral</strong>
                                                    </div>
                                                </div>
                                                <div class="summary-footer">
                                                    <a class="text-muted" target="_blank"
                                                       href="{{ path('se_certificado_laboral_pdf', {certificado: certificadoLaboral.id}) }}">
                                                        Descargar
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </section>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <section class="card card-featured-left card-featured-tertiary mb-3">
                            <div class="card-body">
                                <div class="widget-summary">
                                    <div class="widget-summary-col widget-summary-col-icon">
                                        <div class="summary-icon bg-tertiary">
                                            <i class="fas fa-clipboard-list"></i>
                                        </div>
                                    </div>
                                    <div class="widget-summary-col">
                                        <div class="summary">
                                            <h4 class="title">Evaluación inducción</h4>
                                            <div class="info">
                                                <strong class="amount">{{ evaluacionPorcentaje }}%</strong>
                                            </div>
                                        </div>
                                        <div class="summary-footer">
                                            <a class="text-muted" href="{{ evaluacionLink }}" >
                                                {{ evaluacionPorcentaje == 100 ? 'Certificado' : 'Completar'  }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <div class="{% if documentosLaborales|length %}col-lg-8{% else %}col-xl-12{% endif %}">
                <section class="card">
                    <header class="card-header">
                        Ultimos Aportes a seguridad social
                    </header>
                    <div class="card-body">
                        <div id="aportes" class="datatable" data-settings='{{ datatable_settings(datatables.aportes) }}'>
                            Cargando...
                        </div>
                        <div class="text-right">
                            <a href="{{ path('app_certificados_aportes') }}" class="btn btn-primary">Ver todos</a>
                        </div>
                    </div>
                </section>
            </div>
            {% if documentosLaborales|length %}
                <div class="col-lg-4">

                            <div class="tabs tabs-dark mb-4 pb-2">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item active">
                                        <a class="nav-link show active text-1 font-weight-bold text-uppercase" href="#popularPosts" data-toggle="tab">
                                            Documentos laborales
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="popularPosts">
                                        <ul style="list-style-type:none; padding-left: 0">
                                            {% for documentoLaboral in documentosLaborales %}
                                                <li>
                                                    <div class="post-info">
                                                        <a href="{{ path('documento_laboral_private', {key: documentoLaboral.key}) }}" target="_blank">
                                                            {{ documentoLaboral.title }}
                                                        </a>
                                                        <div class="post-meta">
                                                            {{ documentoLaboral.date|date('M d, Y') }}
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datatable') }}
{% endblock %}