{% extends 'servilabor/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}


{% block main %}
    {{ include('default/_flash_messages.html.twig') }}

    {% block body_header %}
        {{ parent() }}
    {% endblock %}
    <section class="g-py-20">
        <div class="container">
            {% block body %}
                {{ parent() }}
            {% endblock %}
        </div>
    </section>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}