{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('registro-hv') }}
{% endblock %}

{% block body_header_title %}
    {{ include('registro/_header.html.twig') }}
{% endblock %}


{% block body %}
    {{ include('registro/_process-line.html.twig') }}

    {{ form_start(hvForm, {attr: {novalidate: 'novalidate'}}) }}

    {{ include('hv/_datos-basicos-form.html.twig') }}

    <div class="row">
        <div class="col-md-12 text-right mt-3">
            <button class="btn btn-success">
                Siguiente
                <i class="fas fa-angle-right"></i>
            </button>
        </div>
    </div>

    {{ form_end(hvForm) }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('registro-hv') }}
{% endblock %}
