{{ form_start(estudioForm, { attr: {
    class: 'form-entity',
    novalidate:'novalidate',
    'data-url': path('hv_update_estudio')
}}) }}

<div class="form-row">
    {{ form_row(estudioForm.codigo, {
        container_attr: {class: 'col-md-6'},
        attr: {class: 'chosen'}
    }) }}
    {{ form_row(estudioForm.nombre, {container_attr: {class: 'col-md-6'}}) }}
</div>

{{ form_row(estudioForm.instituto, {
    attr: {class: 'chosen'}
}) }}
{{ form_row(estudioForm.institutoNombreAlt) }}

<div class="form-row">
    {{ form_row(estudioForm.fin, {container_attr: {class: 'col-md-6'}}) }}
    {{ form_row(estudioForm.graduado, {container_attr: {class: 'col-md-3'}}) }}
    {{ form_row(estudioForm.cancelo, {container_attr: {class: 'col-md-3'}}) }}
</div>

{{ form_end(estudioForm) }}