{% extends 'hv/base-hv.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/magnific-popup/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/chosen/chosen.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/pnotify/pnotify.custom.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="row">
        <div class="col-lg-12">
            <section class="card">
                <header class="card-header">
                    <h2 class="card-title">
                        {% block card_title %}
                            Estudios
                        {% endblock %}
                    </h2>
                </header>
                <div class="card-body">
                    <p class="lead">
                        {% block card_body_lead %}
                        {% endblock %}
                    </p>
                    <p>
                        Para agregar, presione el boton <span class="highlight">Agregar</span> encontrado en la
                        parte inferior derecha del cuadro.
                    </p>

                    <div id="datatable">Loading...</div>

                </div>
            </section>
            <footer class="card-footer text-right">
                <a class="crear-entity btn btn-primary" href="#modalForm">Agregar</a>
            </footer>
        </div>
    </div>

    <!-- Modal Form -->
    <div id="modalForm" class="modal-block modal-block-primary mfp-hide">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">
                    {% block modal_title %}
                        Agregar
                    {% endblock %}
                </h2>
            </header>
            <div class="card-body" data-loading-overlay>
                {% block modal_body %}
                {% endblock %}
            </div>
            <footer class="card-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary modal-confirm">Guardar</button>
                        <button class="btn btn-default modal-dismiss">Cancelar</button>
                    </div>
                </div>
            </footer>
        </section>
    </div>

    {{ include('default/_modal-borrar.html.twig') }}

{% endblock %}

{% block javascripts_vendor %}
    {{ parent() }}
    <script src="{{ asset('vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('vendor/chosen/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/pnotify/pnotify.custom.js') }}"></script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/sel/hv/hv-entity.js') }}"></script>

    {% embed 'datatable/javascripts.datatable.html.twig' %}
        {% block script_datatable %}
            <script>
                $(function () {
                    $('#datatable')
                        .initDataTables({{ datatable_settings(datatable) }})
                        .then(dt => {
                            $wrapper = $('#modalForm');
                            new hvEntity($wrapper, $('#modalBasic'), dt);
                        });
                });
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}




