{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('hv') }}
{% endblock %}



{% block body %}

<div class="container py-2 mt-4">

    <div class="row">
        <div class="col-lg-3 mt-4 mt-lg-0">
            {{ include('hv/_left-nav.html.twig') }}
        </div>
        <div class="col-lg-9">

            {{ form_start(hvForm, {attr: {novalidate: 'novalidate'}}) }}

            {{ include('hv/_datos-basicos-form.html.twig') }}

            <div class="row">
                <div class="col-md-12 text-right mt-3">
                    <button class="btn btn-primary">
                        Guardar
                    </button>
                </div>
            </div>
            {{ form_end(hvForm) }}

        </div>
    </div>

    {% endblock %}

    {% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('hv') }}
{% endblock %}