{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags(evaluacion.slug) }}
    {{ encore_entry_link_tags(evaluacion.slug ~ '-pta') }}
{% endblock %}

{% block title %}
    Evaluacion - {{ evaluacion.nombre }}
{% endblock %}

{% block nav %}
    {{ include('pta/app/evaluacion/_nav.html.twig') }}
{% endblock %}

{% block nav_admin %}
{% endblock %}
{% block header_logo_class %}{{ parent() }} blue{% endblock %}

{% block main %}
    {{ include('default/_flash_messages.html.twig') }}

    {% block body_header %}
    {% endblock %}

    {% block evaluacion_content %}
        <section class="e-py-20 e-pt-60">
            <div id="evaluacion" class="container">
                <div id="wrapper">
                    {% if form is defined %}
                        {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
                    {% endif %}

                    {% block body %}
                        {{ parent() }}
                    {% endblock %}

                    {% block footer %}
                        <!-- Footer -->
                        <footer id="evaluacion-footer">
                            <!-- Copyright Footer -->
                            <div class="text-center e-py-20">
                                <div class="container">
                                    <div class="row">
                                        <!-- Footer Content -->
                                        <div class="col-lg-12 col-md-6 text-right">
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item e-mr-10">
                                                    {{ sel_evaluacion_navegador_prev(navegador, {
                                                        class: "btn btn-lg e-bg-white-opacity-0_1 e-bg-white-opacity-0_2--hover e-color-white-opacity-0_6 rounded"
                                                    }) }}
                                                </li>
                                                <li class="list-inline-item e-mr-10">
                                                    {{ sel_evaluacion_navegador_next(navegador, {
                                                        class: "btn btn-lg e-bg-white-opacity-0_1 e-bg-white-opacity-0_2--hover e-color-white-opacity-0_6 rounded"
                                                    }) }}
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- End Footer Content -->
                                    </div>
                                </div>
                            </div>
                            <!-- End Copyright Footer -->
                        </footer>
                        <!-- End Footer -->
                    {% endblock %}
                    {% if form is defined %}
                        {{ form_end(form) }}
                    {% endif %}
                </div>
            </div>
        </section>
    {% endblock %}


{% endblock %}
