<div class="row text-center twin-hero">
    <div class="hero-shadow">
    </div>
    <div class="col-sm-12 col-md-4 hero left" id="left-hero">
        <div class="tilt left-hero-tilt">
        </div>
        <div class="initial active">
            <h2>Empresas</h2>
            <p>Consiga el personal que su empresa necesita</p>
            <span class="round-icon">+</span>
        </div>
        <div class="expanded">
            <h2>Empresas</h2>
            <p>Consiga el personal que su empresa necesita</p>
            <a class="btn btn-white btn-twin-hero"
               href="{{ path('pta_servicios') }}"
               data-ga-twin-label="| Business CTA" data-pa-click="hero|Business CTA">
                Conozca mas sobre nosotros</a>
            <div class="legal-container">
                <p class="legal-notes">¿Ya es cliente?<br>
                    <a href="{{ path('app_login') }}">
                        Ingrese al portal de clientes
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 hero center" id="center-hero">
        <div class="tilt center-hero-tilt">
        </div>
        <div class="initial active">
            <h2>Aspirantes</h2>
            <p>Encuentre el trabajo que mas se ajusta a sus cualidades</p>
            <span class="round-icon">+</span>
        </div>
        <div class="expanded">
            <h2>Aspirantes</h2>
            <p>Encuentre el trabajo que mas se ajusta a sus cualidades</p>
            <a class="btn btn-white btn-twin-hero" href="https://pta.t3rsc.co"
               data-ga-twin-label="| Personal CTA" data-pa-click="hero|Personal CTA">
                Buscar trabajo</a>
            <div class="legal-container">
                <p class="legal-notes">¿Ya es empleado?.<br>
                    <a href="{{ path('app_login') }}">
                        Ingrese al servicio de empleados
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 hero right" id="right-hero">
        <div class="tilt right-hero-tilt">
        </div>
        <div class="initial active">
            <h2>Empleados</h2>
            <p>Acceda al servicio de empleados</p>
            <span class="round-icon">+</span>
        </div>
        <div class="expanded">
            <h2>Empleados</h2>
            <p>Acceda al servicio de empleados</p>
            <a class="btn btn-white btn-twin-hero"
               href="{{ path('app_login') }}"
               data-ga-twin-label="| Business CTA" data-pa-click="hero|Business CTA">
                Conozca mas sobre nosotros</a>
        </div>
    </div>
</div>

<!--<section class="row-fluid center-text text-center twin-hero">
    <div class="hero-shadow">
    </div>
    <div class="hero-container">
        <div class="left-hero" id="left-hero">
            <div class="left-hero-tilt left-hero-tilt-expanded">
                <div class="side-container">
                    <div class="initial active">
                        <h2>Empresas</h2>
                        <p>Consiga el personal que su empresa necesita</p>
                        <span class="round-icon">+</span>
                    </div>
                    <div class="collapsed">
                        <h2>Empresas</h2>
                        <span class="round-filled-icon">+</span>
                    </div>
                    <div class="expanded">
                        <h2>Empresas</h2>
                        <p>Consiga el personal que su empresa necesita</p>
                        <a class="btn btn-white btn-twin-hero"
                           href="{{ path('pta_servicios') }}"
                           data-ga-twin-label="| Business CTA" data-pa-click="hero|Business CTA">
                            Conozca mas sobre nosotros</a>
                        <div class="legal-container">
                            <p class="legal-notes">¿Ya es cliente?<br>
                                <a href="{{ path('app_login') }}">
                                    Ingrese al portal de clientes
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="center-hero" id="center-hero">
            <div class="center-hero-tilt center-hero-tilt-expanded">
                <div class="side-container">
                    <div class="initial active">
                        <h2>Aspirantes</h2>
                        <p>Encuentre el trabajo que mas se ajusta a sus cualidades</p>
                        <span class="round-icon">+</span>
                    </div>
                    <div class="collapsed">
                        <h2>Empresas</h2>
                        <span class="round-filled-icon">+</span>
                    </div>
                    <div class="expanded">
                        <h2>Empresas</h2>
                        <p>Consiga el personal que su empresa necesita</p>
                        <a class="btn btn-white btn-twin-hero"
                           href="{{ path('pta_servicios') }}"
                           data-ga-twin-label="| Business CTA" data-pa-click="hero|Business CTA">
                            Conozca mas sobre nosotros</a>
                        <div class="legal-container">
                            <p class="legal-notes">¿Ya es cliente?<br>
                                <a href="{{ path('app_login') }}">
                                    Ingrese al portal de clientes
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="right-hero" id="right-hero">
            <div class="right-hero-tilt">
                <div class="side-container">
                    <div class="initial active">
                        <h2>Trabajadores</h2>
                        <p>Encuentre el trabajo que mas se ajusta a sus cualidades</p>
                        <span class="round-icon">+</span>
                    </div>
                    <div class="collapsed">

                        <h2>Trabajadores</h2>
                        <span class="round-filled-icon">+</span>
                    </div>
                    <div class="expanded">
                        <h2>Trabajadores</h2>
                        <p>Encuentre el trabajo que mas se ajusta a sus cualidades</p>
                        <a class="btn btn-white btn-twin-hero" href="https://pta.t3rsc.co"
                           data-ga-twin-label="| Personal CTA" data-pa-click="hero|Personal CTA">
                            Buscar trabajo</a>
                        <div class="legal-container">
                            <p class="legal-notes">¿Ya es empleado?.<br>
                                <a href="{{ path('app_login') }}">
                                    Ingrese al servicio de empleados
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->

