<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>{% block title %}Servilabor{% endblock %}</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('img/servilabor/favicon.ico')}}">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">

    {% block stylesheets %}
        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <!-- CSS Global Icons -->
        <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/simple-line-icons/css/simple-line-icons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/icon-etlinefont/style.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/icon-line-pro/style.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/icon-hs/style.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/dzsparallaxer/dzsparallaxer.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/dzsparallaxer/dzsscroller/scroller.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/dzsparallaxer/advancedscroller/plugin.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/fancybox/jquery.fancybox.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/slick-carousel/slick/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/typedjs/typed.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/hs-megamenu/src/hs.megamenu.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/hamburgers/hamburgers.min.css') }}">

        <!-- CSS Unify -->
        <link rel="stylesheet" href="{{ asset('css/servilabor/unify-core.css') }}">
        <link rel="stylesheet" href="{{ asset('css/servilabor/unify-components.css') }}">
        <link rel="stylesheet" href="{{ asset('css/servilabor/unify-globals.css') }}">

        <!-- CSS Customization -->
        <link rel="stylesheet" href="{{ asset('css/servilabor/theme-colors/servilabor.css') }}">
        <link rel="stylesheet" href="{{ asset('css/servilabor/custom.css') }}">
    {% endblock %}
</head>

<body>
<main>

    <!-- Header -->
    <header id="js-header" class="u-header u-header--static">
        <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
            <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
                <div class="container">
                    <!-- Responsive Toggle Button -->
                    <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-minus-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
              <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
              </span>
              </span>
                    </button>
                    <!-- End Responsive Toggle Button -->

                    <!-- Logo -->
                    <a href="{{ path('servilabor_inicio') }}" class="navbar-brand d-flex">
                        <img src="{{ asset('img/servilabor/logo-servilabor.png') }}" alt="mainlogo" />

                    </a>
                    <!-- End Logo -->

                    <!-- Navigation -->
                    <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
                        <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
                            <!-- Intro -->
                            <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                <a href="{{ path('servilabor_inicio') }}" class="nav-link g-py-7 g-px-0">Inicio</a>
                            </li>
                            <!-- End Intro -->

                            <!-- Nosotros -->
                            <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                <a href="{{ path('servilabor_nosotros') }}" class="nav-link g-py-7 g-px-0">Nosotros</a>
                            </li>
                            <!-- End Nosotros -->


                            <!-- Servicios -->
                            <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                                <a id="nav-link-pages" class="nav-link g-py-7 g-px-0" href="{{ path('servilabor_servicios') }}" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-pages">
                                    Servicios
                                </a>

                                <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu-pages" aria-labelledby="nav-link-pages">
                                    <li class="dropdown-item ">
                                        <a class="nav-link" href="{{ path('servilabor_servicio', {servicio: 'outsourcing'}) }}">
                                            Outsourcing
                                        </a>
                                    </li>
                                    <li class="dropdown-item ">
                                        <a class="nav-link" href="{{ path('servilabor_servicio', {servicio: 'rpo'}) }}">
                                            Rpo
                                        </a>
                                    </li>
                                    <li class="dropdown-item ">
                                        <a class="nav-link" href="{{ path('servilabor_servicio', {servicio: 'payroll'}) }}">
                                            Payroll
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End Servicios -->

                            <!-- Candidatos -->
                            <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                <a href="{{ path('servilabor_candidatos') }}" class="nav-link g-py-7 g-px-0">Candidatos</a>
                            </li>
                            <!-- End Candidatos -->

                            <!-- Blog / news -->
                            <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                                <a id="nav-link-pages" class="nav-link g-py-7 g-px-0" href="#" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-pages">
                                    Blog / news
                                </a>

                                <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu-pages" aria-labelledby="nav-link-pages">
                                    <li class="dropdown-item ">
                                        <a class="nav-link" href="../../unify-main/pages/page-about-1.html">
                                            Reglamento interno
                                        </a>
                                    </li>
                                    <li class="dropdown-item ">
                                        <a class="nav-link" href="../../unify-main/pages/page-about-2.html">
                                            Política de seguridad y salud
                                        </a>
                                    </li>
                                    <li class="dropdown-item ">
                                        <a class="nav-link" href="../../unify-main/pages/page-about-3.html">
                                            Reglamento de higiene y salud
                                        </a>
                                    </li>
                                    <li class="dropdown-item ">
                                        <a class="nav-link" href="../../unify-main/pages/page-about-4.html">
                                            Política prevensión de sustancias psicoactivas
                                        </a>
                                    </li>
                                    <li class="dropdown-item ">
                                        <a class="nav-link" href="../../unify-main/pages/page-about-4.html">
                                            Política de seguridad vial
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End Blog / news -->


                            <!-- Contacto -->
                            <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                <a href="{{ path('servilabor_contacto') }}" class="nav-link g-py-7 g-px-0">
                                    Contacto
                                </a>
                            </li>
                            <!-- End Contacto -->
                        </ul>
                    </div>
                    <!-- End Navigation -->

                    <div class="d-inline-block g-hidden-md-down g-pos-rel g-valign-middle g-pl-30 g-pl-0--lg">
                        <a class="btn u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15"
                           href="{{ path('app_login') }}">
                            Iniciar sesión
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- End Header -->

    {% block body %}
    {% endblock %}


    <!-- Footer -->
    <div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
        <div class="container">
            <div class="row">
                <!-- Footer Content -->
                <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                    <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                        <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Sobre nosotros</h2>
                    </div>

                    <p>
                        Somos una organización enfocada en Outsorcing y RPO para servicios corporativos, logistica,
                        hotelería y turismo.
                    </p>
                </div>
                <!-- End Footer Content -->

                <!-- Footer Content -->
                <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                    <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                        <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Ultimas noticias</h2>
                    </div>

                    <article>
                        <h3 class="h6 g-mb-2">
                            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Incredible template</a>
                        </h3>
                        <div class="small g-color-white-opacity-0_6">May 8, 2017</div>
                    </article>

                    <hr class="g-brd-white-opacity-0_1 g-my-10">

                    <article>
                        <h3 class="h6 g-mb-2">
                            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">New features</a>
                        </h3>
                        <div class="small g-color-white-opacity-0_6">June 23, 2017</div>
                    </article>

                    <hr class="g-brd-white-opacity-0_1 g-my-10">

                    <article>
                        <h3 class="h6 g-mb-2">
                            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">New terms and conditions</a>
                        </h3>
                        <div class="small g-color-white-opacity-0_6">September 15, 2017</div>
                    </article>
                </div>
                <!-- End Footer Content -->

                <!-- Footer Content -->
                <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                    <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                        <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Links de interes</h2>
                    </div>

                    <nav class="text-uppercase1">
                        <ul class="list-unstyled g-mt-minus-10 mb-0">
                            <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                <h4 class="h6 g-pr-20 mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{{ path('servilabor_nosotros') }}">
                                        Nosotros
                                    </a>
                                    <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                </h4>
                            </li>
                            <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                <h4 class="h6 g-pr-20 mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{{ path('servilabor_servicios') }}">
                                        Servicios
                                    </a>
                                    <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                </h4>
                            </li>
                            <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                <h4 class="h6 g-pr-20 mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{{ path('servilabor_candidatos') }}">
                                        Candidatos
                                    </a>
                                    <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                </h4>
                            </li>
                            <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                <h4 class="h6 g-pr-20 mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{{ path('servilabor_blog')}}">
                                        Blog / News
                                    </a>
                                    <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                </h4>
                            </li>
                            <li class="g-pos-rel g-py-10">
                                <h4 class="h6 g-pr-20 mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{{ path('servilabor_contacto') }}">
                                        Contacto
                                    </a>
                                    <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                </h4>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- End Footer Content -->

                <!-- Footer Content -->
                <div class="col-lg-3 col-md-6">
                    <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                        <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Contacto</h2>
                    </div>

                    <address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url({{ asset('img/servilabor/map2.png') }});">
                        <!-- Location -->
                        <div class="d-flex g-mb-20">
                            <div class="g-mr-10">
              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="fa fa-map-marker"></i>
              </span>
                            </div>
                            <p class="mb-0">{{ sel_parameters.dir }}</p>
                        </div>
                        <!-- End Location -->

                        <!-- Phone -->
                        <div class="d-flex g-mb-20">
                            <div class="g-mr-10">
              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="fa fa-phone"></i>
              </span>
                            </div>
                            <p class="mb-0">+57 1 {{ sel_parameters.tel }}</p>
                        </div>
                        <!-- End Phone -->

                        <!-- Email and Website -->
                        <div class="d-flex g-mb-20">
                            <div class="g-mr-10">
              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="fa fa-globe"></i>
              </span>
                            </div>
                            <p class="mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:{{ sel_parameters.mail }}">
                                    {{ sel_parameters.mail }}
                                </a>
                                <br>
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#"></a>
                            </p>
                        </div>
                        <!-- End Email and Website -->
                    </address>
                </div>
                <!-- End Footer Content -->
            </div>
        </div>
    </div>
    <!-- End Footer -->

    <!-- Copyright Footer -->
    <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center text-md-left g-mb-10 g-mb-0--md">
                    <div class="d-lg-flex">
                        <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">{{ "now"|date('Y') }} &copy; Todos los derechos reservados.</small>
                    </div>
                </div>



                <div class="col-md-8 align-self-center">
                    <ul class="list-inline text-center text-md-right mb-0">
                        <li class="list-inline-item">
                            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">
                                Política de tratamiento de datos personales
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <span>|</span>
                        </li>
                        <li class="list-inline-item">
                            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">
                                Aviso de privacidad
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Copyright Footer -->
    <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
</main>

<div class="u-outer-spaces-helper"></div>

{% block javascripts %}
    <!-- JS Global Compulsory -->
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-migrate/jquery-migrate.min.js') }}"></script>
    <script src="{{ asset('vendor/popper/umd/popper.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>


    <!-- JS Implementing Plugins -->
    <script src="{{ asset('vendor/slick-carousel/slick/slick.js') }}"></script>
    <script src="{{ asset('vendor/hs-megamenu/src/hs.megamenu.js') }}"></script>
    <script src="{{ asset('vendor/dzsparallaxer/dzsparallaxer.js') }}"></script>
    <script src="{{ asset('vendor/dzsparallaxer/dzsscroller/scroller.js') }}"></script>
    <script src="{{ asset('vendor/dzsparallaxer/advancedscroller/plugin.js') }}"></script>
    <script src="{{ asset('vendor/fancybox/jquery.fancybox.min.js') }}"></script>
    <script src="{{ asset('vendor/typedjs/typed.min.js') }}"></script>

    <!-- JS Unify -->
    <script src="{{ asset('js/servilabor/unify/hs.core.js') }}"></script>
    <script src="{{ asset('js/servilabor/unify/components/hs.carousel.js') }}"></script>
    <script src="{{ asset('js/servilabor/unify/components/hs.header.js') }}"></script>
    <script src="{{ asset('js/servilabor/unify/helpers/hs.hamburgers.js') }}"></script>
    <script src="{{ asset('js/servilabor/unify/components/hs.tabs.js') }}"></script>
    <script src="{{ asset('js/servilabor/unify/components/hs.popup.js') }}"></script>
    <script src="{{ asset('js/servilabor/unify/components/text-animation/hs.text-slideshow.js') }}"></script>
    <script src="{{ asset('js/servilabor/unify/components/hs.go-to.js') }}"></script>

    <!-- JS Customization -->
    <script src="{{ asset('js/servilabor/custom.js') }}"></script>

    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // initialization of carousel
            $.HSCore.components.HSCarousel.init('.js-carousel');

            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');

            // initialization of popups
            $.HSCore.components.HSPopup.init('.js-fancybox');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');

            // initialization of text animation (typing)
            $(".u-text-animation.u-text-animation--typing").typed({
                strings: [
                    "an awesome template",
                    "perfect template",
                    "just like a boss"
                ],
                typeSpeed: 60,
                loop: true,
                backDelay: 1500
            });
        });

        $(window).on('load', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });
        });

        $(window).on('resize', function () {
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });
    </script>
{% endblock %}


</body>

</html>