{% extends 'servilabor/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/rs-plugin/css/settings.css') }}">
{% endblock %}


{% block body %}
    {{ include('servilabor/index/_slider.html.twig') }}

    {{ include('servilabor/index/_icons.html.twig') }}

    <hr class="g-brd-gray-light-v4 my-0">

    <!-- Alianza camacoes -->
    <section class="g-py-100">
        <div class="container">
            <header class="text-center g-width-60x--md mx-auto g-mb-50">
                <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                    <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">
                        ALIANZAS QUE FORTALECEN NUESTRA EMPRESA Y SERVICIOS
                    </h2>
                </div>
                <p class="g-font-size-16">
                    Afiliados a la <a href="http://www.camacoes.com.co/" target="_blank" class="camacoes">
                        Cámara de Comercio Hispano Colombiana
                    </a>
                    son un aliado clave para el desarrollo de las relaciones económicas, comerciales,
                    industriales y turísticas entre España y Colombia
                </p>
            </header>

            <div class="row justify-content-center g-mb-20">
                <a href="http://www.camacoes.com.co" target="_blank">
                    <img class="img-responsive" src="{{ asset('img/servilabor/logo-camacoes2.png') }}"
                         alt="logo camacoes">
                </a>
            </div>
        </div>
    </section>
    <!-- Alianza camacoes -->


    <hr class="g-brd-gray-light-v4 my-0">

    <!-- Most Quality Solution -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading"
             data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
        <!-- Parallax Image -->
        <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-img-hero g-bg-white-opacity-0_7--after"
             style="height: 140%; background-image: url({{ asset('img/servilabor/bg/16.jpg') }});"></div>
        <!-- End Parallax Image -->

        <div class="container u-bg-overlay__inner g-py-150--md g-py-80">
            <div class="row">
                <!-- Section Content -->
                <div class="col-lg- order-2 order-sm-1 g-mb-0 g-mb-50--sm g-mb-0--lg">
                    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
                        <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">
                            NOS ENFOCAMOS EN PERMITIR A NUESTROS CLIENTES CENTRARSE EN EL CORE DE SU NEGOCIO.
                        </h2>
                    </div>
                    <p class="g-font-size-16 g-line-height-2 g-mb-30">
                        El Outsourcing es la práctica de transferir la planificación, administración y
                        operativa de ciertas funciones a un tercero, independiente y especializado.</p>
                    <small class="d-block d-sm-inline-block g-color-gray-dark-v5 g-font-size-12">
                        Paule Neale, Business Manager de IBM
                    </small>
                </div>
                <!-- End Section Content -->
            </div>
        </div>
    </section>
    <!-- End Most Quality Solution -->


    <section class="g-py-100">
        <div class="container">
            <header class="text-center g-width-60x--md mx-auto g-mb-50">
                <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                    <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">
                        NUESTRO VALOR AGREGADO
                    </h2>
                </div>
            </header>
            <!-- Icon Blocks -->
            <div class="row">
                <div class="col-lg-4 g-mb-30">
                    <!-- Icon Blocks -->
                    <div class="media g-mb-15">
                        <div class="d-flex align-self-center mr-3">
                            <span class="u-icon-v2 g-color-white g-bg-cyan-gradient-opacity-v1 g-rounded-5">
                                <i class="icon-shuffle"></i>
                            </span>
                        </div>
                        <div class="media-body align-self-center">
                            <h3 class="h5 g-color-black g-line-height-1_6 mb-0">Flexibilidad</h3>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 g-mb-30">
                    <!-- Icon Blocks -->
                    <div class="media g-mb-15">
                        <div class="d-flex align-self-center mr-3">
                        <span class="u-icon-v2 g-color-white g-bg-cyan-gradient-opacity-v1 g-rounded-5">
                            <i class="icon-earphones-alt"></i>
                        </span>
                        </div>
                        <div class="media-body align-self-center">
                            <h3 class="h5 g-color-black g-line-height-1_6 mb-0">Atención personalizada</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 g-mb-30">
                    <div class="media g-mb-15">
                        <div class="d-flex align-self-center mr-3">
                        <span class="u-icon-v2 g-color-white g-bg-cyan-gradient-opacity-v1 g-rounded-5">
                            <i class="icon-globe"></i>
                        </span>
                        </div>
                        <div class="media-body align-self-center">
                            <h3 class="h5 g-color-black g-line-height-1_6 mb-0">Soluciones globales</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Icon Blocks -->

            <!-- Icon Blocks -->
            <div class="row">
                <div class="col-lg-4 g-mb-30">
                    <div class="media g-mb-15">
                        <div class="d-flex align-self-center mr-3">
                            <span class="u-icon-v2 g-color-white g-bg-cyan-gradient-opacity-v1 g-rounded-5">
                                <i class="icon-badge"></i>
                            </span>
                        </div>
                        <div class="media-body align-self-center">
                            <h3 class="h5 g-color-black g-line-height-1_6 mb-0">Máxima calidad de servicio</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 g-mb-30">
                    <div class="media g-mb-15">
                        <div class="d-flex align-self-center mr-3">
                            <span class="u-icon-v2 g-color-white g-bg-cyan-gradient-opacity-v1 g-rounded-5">
                                <i class="icon-user"></i>
                            </span>
                        </div>
                        <div class="media-body align-self-center">
                            <h3 class="h5 g-color-black g-line-height-1_6 mb-0">Servicio integral</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 g-mb-30">
                    <!-- Icon Blocks -->
                    <div class="media g-mb-15">
                        <div class="d-flex align-self-center mr-3">
                            <span class="u-icon-v2 g-color-white g-bg-cyan-gradient-opacity-v1 g-rounded-5">
                                <i class="icon-star"></i>
                            </span>
                        </div>
                        <div class="media-body align-self-center">
                            <h3 class="h5 g-color-black g-line-height-1_6 mb-0">Ahorro en costos</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Icon Blocks -->

    {#  {{ include('servilabor/index/_projects.html.twig') }}#}


    {#{{  include('servilabor/index/_counters.html.twig') }}#}

    {# include('servilabor/index/_news.html.twig') #}

    {# include('servilabor/index/_action.html.twig') #}

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/rs-plugin/js/jquery.themepunch.tools.min.js') }}"></script>
    <script src="{{ asset('vendor/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>
    <script src="{{ asset('js/servilabor/plugins/revolution-slider.js') }}"></script>
    <script>
        RevolutionSlider.initRSfullWidth();
    </script>
{% endblock %}