{% extends 'servilabor/base.html.twig' %}


{% block body_header %}
    <!-- Promo Block -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
        <!-- Parallax Image -->
        <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after"
             style="height: 140%; background-image: url({{ asset('build/servilabor/images/breadcrumbs/velas-56.jpg') }});"></div>
        <!-- End Parallax Image -->

        <!-- Promo Block Content -->
        <div class="container g-color-white text-center g-py-120">
            <h3 class="h1 g-font-weight-600 text-uppercase mb-2">Empresa de outsourcing con trayectoria</h3>
            <p class="g-font-weight-300 g-font-size-22 text-uppercase">Descubre mas sobre nosotros</p>
        </div>
        <!-- Promo Block Content -->
    </section>
    <!-- End Promo Block -->
{% endblock %}


{% block body %}

    <!-- Timeline #02 -->
    <section class="g-py-100">
        <div class="container">
            <!-- Timeline Box -->
            <ul class="row u-timeline-v2-wrap list-unstyled">
                <li class="col-md-12 g-mb-40">
                    <div class="row">
                        <!-- Timeline Date -->
                        <div class="col-md-3 text-md-right g-pt-20--md g-pr-40--md g-mb-20">
                            <h4 class="h5">Origen</h4>
                        </div>
                        <!-- End Timeline Date -->

                        <!-- Timeline Content -->
                        <div class="col-md-9 g-orientation-left g-pl-40--md">
                            <!-- Timeline Dot -->
                            <div class="g-hidden-sm-down u-timeline-v2__icon g-top-35">
                                <i class="d-block g-width-18 g-height-18 g-bg-white g-brd-around g-brd-3 g-brd-gray-light-v5 rounded-circle"></i>
                            </div>
                            <!-- End Timeline Dot -->

                            <article class="g-pos-rel g-bg-gray-light-v5 g-pa-30">
                                <!-- Timeline Arrow -->
                                <div class="g-hidden-sm-down u-triangle-inclusive-v1--right g-top-30 g-z-index-2">
                                    <div class="u-triangle-inclusive-v1--right__back g-brd-gray-light-v5-right"></div>
                                </div>
                                <div class="g-hidden-md-up u-triangle-inclusive-v1--top g-left-20 g-z-index-2">
                                    <div class="u-triangle-inclusive-v1--top__back g-brd-gray-light-v5-bottom"></div>
                                </div>
                                <!-- End Timeline Arrow -->

                                <header class="g-brd-bottom g-brd-gray-light-v4 g-pb-10 g-mb-25">
                                    <h3 class="g-font-weight-300">Proposito</h3>
                                </header>

                                <div class="row">
                                    <div class="col-md-4 g-mb-20 g-mb-0--md">
                                        <img class="img-fluid w-100" src="{{ asset('build/servilabor/images/stairs-75.jpg') }}" alt="Stairs">
                                    </div>
                                    <div class="col-md-8">
                                        <p class="mb-0">
                                            Desde 1992 ofrecemos servicios de calidad a las empresas
                                            en Colombia. Servilabor nace como empresa de servicios del
                                            Grupo PTA. Nosotros creemos que trabajando juntos podremos
                                            maximizar la gestión de los Recursos Humanos de todas las
                                            empresas con las que colaboramos. Nuestros procesos están
                                            orientados a que el cliente obtenga una alta eficiencia y
                                            flexibilidad en todas las áreas o departamentos que no son el
                                            “core business” de su empresa. Para ello contamos con la
                                            implicación de todo nuestros profesionales, que conforman una
                                            red especializada en la gestión integral del Capital Humano con
                                            el objetivo de realizar nuestra labor de partner estratégico y
                                            contribuir a la creación de empleo.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- End Timeline Content -->
                    </div>
                </li>

                <li class="col-md-12 g-mb-40">
                    <div class="row">
                        <!-- Timeline Date -->
                        <div class="col-md-3 text-md-right g-pt-20--md g-pr-40--md g-mb-20">
                            <h4 class="h5">Presente</h4>
                        </div>
                        <!-- End Timeline Date -->

                        <!-- Timeline Content -->
                        <div class="col-md-9 g-orientation-left g-pl-40--md">
                            <!-- Timeline Dot -->
                            <div class="g-hidden-sm-down u-timeline-v2__icon g-top-35">
                                <i class="d-block g-width-18 g-height-18 g-bg-white g-brd-around g-brd-3 g-brd-gray-light-v5 rounded-circle"></i>
                            </div>
                            <!-- End Timeline Dot -->

                            <article class="g-pos-rel g-bg-gray-light-v5 g-pa-30">
                                <!-- Timeline Arrow -->
                                <div class="g-hidden-sm-down u-triangle-inclusive-v1--right g-top-30 g-z-index-2">
                                    <div class="u-triangle-inclusive-v1--right__back g-brd-gray-light-v5-right"></div>
                                </div>
                                <div class="g-hidden-md-up u-triangle-inclusive-v1--top g-left-20 g-z-index-2">
                                    <div class="u-triangle-inclusive-v1--top__back g-brd-gray-light-v5-bottom"></div>
                                </div>
                                <!-- End Timeline Arrow -->

                                <header class="g-brd-bottom g-brd-gray-light-v4 g-pb-10 g-mb-25">
                                    <h3 class="g-font-weight-300">Consolidación</h3>
                                </header>

                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="mb-0">
                                            Contamos con 8 Oficinas en Colombia y 44 distribuidas en España
                                            y Portugal. Nuestra amplia estructura profesional nos permite
                                            atender los requerimientos de clientes de amplios sectores en
                                            Colombia y la península Ibérica.
                                        </p>
                                    </div>
                                    <div class="col-md-4 g-mb-20 g-mb-0--md">
                                        <img class="img-fluid w-100" src="{{ asset('build/servilabor/images/reunion-75.jpg') }}" alt="Image description">
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- End Timeline Content -->
                    </div>
                </li>

                <li class="col-md-12">
                    <div class="row">
                        <!-- Timeline Date -->
                        <div class="col-md-3 text-md-right g-pt-20--md g-pr-40--md g-mb-20">
                            <h4 class="h5">Futuro</h4>
                        </div>
                        <!-- End Timeline Date -->

                        <!-- Timeline Content -->
                        <div class="col-md-9 g-orientation-left g-pl-40--md">
                            <!-- Timeline Dot -->
                            <div class="g-hidden-sm-down u-timeline-v2__icon g-top-35">
                                <i class="d-block g-width-18 g-height-18 g-bg-white g-brd-around g-brd-3 g-brd-gray-light-v5 rounded-circle"></i>
                            </div>
                            <!-- End Timeline Dot -->

                            <article class="g-pos-rel g-bg-gray-light-v5 g-pa-30">
                                <!-- Timeline Arrow -->
                                <div class="g-hidden-sm-down u-triangle-inclusive-v1--right g-top-30 g-z-index-2">
                                    <div class="u-triangle-inclusive-v1--right__back g-brd-gray-light-v5-right"></div>
                                </div>
                                <div class="g-hidden-md-up u-triangle-inclusive-v1--top g-left-20 g-z-index-2">
                                    <div class="u-triangle-inclusive-v1--top__back g-brd-gray-light-v5-bottom"></div>
                                </div>
                                <!-- End Timeline Arrow -->

                                <header class="g-brd-bottom g-brd-gray-light-v4 g-pb-10 g-mb-25">
                                    <h3 class="g-font-weight-300">Visión</h3>
                                </header>

                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="g-mb-20">
                                            Nuestra visión es continuar haciendo un buen trabajo
                                            evolucionando con nuestros clientes y creciendo con ellos en un
                                            mercado cada vez mas competitivo, complejo y global. Por esa
                                            razón Servilabor afronta con mas garantias el futuro al realizar
                                            una alianza estratégica con el Grupo Nortempo de España y con una
                                            nueva Gerencia con una dilatada experiencia en el sector como
                                            Consejero Delegado y Director General de empresas
                                            multinacionales.
                                        </p>
                                    </div>
                                    <div class="col-md-4 g-mb-20 g-mb-0--md">
                                        <img class="img-fluid w-100" src="{{ asset('build/servilabor/images/monserrate-view-75.jpg') }}" alt="Monserrate">
                                    </div>
                                    <div class="col-md-4 g-mb-20 g-mb-0--md">
                                        <img class="img-fluid w-100" src="{{ asset('build/servilabor/images/white-board-75.jpg') }}" alt="White board">
                                    </div>
                                    <div class="col-md-4 g-mb-20 g-mb-0--md">
                                        <img class="img-fluid w-100" src="{{ asset('build/servilabor/images/coding-75.jpg') }}" alt="Coding">
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- End Timeline Content -->
                    </div>
                </li>
            </ul>
            <!-- End Timeline Box -->
        </div>
    </section>
    <!-- End Timeline #02 -->

    <!-- Testimonials -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading g-bg-cover g-bg-white-opacity-0_7--after">
        <div class="divimage dzsparallaxer--target w-100"
             style="height: 120%; background-image: url({{ asset('build/servilabor/images/bg/25-40.jpg') }});"></div>
        <div class="container g-z-index-1 g-py-120">
            <div class="text-center g-pos-rel g-overflow-hidden">
                <div class="g-pos-rel g-z-index-1">
                    <h2 class="h2 g-color-black g-font-weight-600 g-font-size-40--md text-uppercase mb-5">
                        Nuestro <span class="g-color-primary">Grupo</span>
                    </h2>
                </div>
            </div>

            <div class="row justify-content-center">

                <div class="col-lg-6">
                    <!-- Testimonials -->
                    <div class="g-brd-x g-brd-y g-brd-3 text-center g-z-index-1 g-pa-30">
                        <a href="http://www.pta.com.co" target="_blank">
                            <img src="{{ asset('build/servilabor/images/PTA3.png') }}" class="img-responsive g-mb-20--lg" alt="PTA S.A.S - Trabajos temporales" />
                        </a>
                        <p>
                            Empresa líder de servicios de suministro, selección, evaluación y administración de personal.
                            Se caracteriza por ser una organización sólida tanto en sus valores corporativos, como en su estructura funcional y financiera, reflejando una imagen de solidez y logrando un crecimiento continuo con presencia en varias ciudades de Colombia y reconocida en todo el país por su excelente servicio.
                        </p>
                    </div>
                    <!-- End Testimonials -->
                </div>
                <div class="col-lg-6">
                    <!-- Testimonials -->
                    <div class="g-brd-x g-brd-y g-brd-3 text-center g-z-index-1 g-pa-30">
                        <a href="http://www.nortempo.com" target="_blank">
                            <img src="{{ asset('build/servilabor/images/nortempo2.png') }}" class="img-responsive g-mb-20--lg" alt="Nortempo Spain Company" />
                        </a>
                        <p>
                            Compañía española que, desde 1991, ofrece a las empresas servicios integrales de recursos humanos y organización, asesorando a sus clientes para ayudarles a ser más fuertes, rentables y competitivos en un entorno dinámico y cambiante.
                            Cuenta con presencia en toda la Península Ibérica, a través de una amplia red de oficinas integrada por profesionales cualificados que, trabajando en equipo, aseguran una plena cobertura en la prestación de sus servicios.
                        </p>
                    </div>
                    <!-- End Testimonials -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonials -->

{% endblock %}