{% extends 'pta/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/dropzone/min/dropzone.min.css') }}" />
{% endblock %}

{% block body_header %}{% endblock %}


{% block body %}
    {{ include('pta/registro/_header.html.twig') }}

<div class="container py-2 registro">
    <div class="row">
        <div class="col">
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    </div>

                    <h2 class="card-title">Cargar hoja de vida</h2>
                </header>
                <div class="card-body">
                    <form action="{{ path('hv_adjunto_upload', {id: hv.id}) }}" class="dropzone dz-square" id="dropzone-example">

                    </form>
                </div>
            </section>
        </div>
    </div>

    {{ form_start(cuentaForm, {attr: {novalidate: 'novalidate'}}) }}
    <div class="row">
        <div class="col">
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    </div>
                    <h2 class="card-title">Datos de la cuenta</h2>
                </header>
                <div class="card-body">
                    {{ form_row(cuentaForm.identificacion) }}

                    <div class="form-row">
                        {{ form_row(cuentaForm.password.first, {container_attr: {class: 'col-md-6'}}) }}
                        {{ form_row(cuentaForm.password.second, {container_attr: {class: 'col-md-6'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(cuentaForm.aceptoTerminosEn) }}
                        {{ form_widget(cuentaForm.aceptoTerminosEn) }}
                        {{ form_help(cuentaForm.aceptoTerminosEn) }}
                    </div>

                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-3">
            <a class="btn btn-default pull-left anterior" href="{{ path(prevRoute.route, prevRoute.parameters) }}"><i class="fas fa-angle-left"></i> Anterior</a>
            <button class="btn btn-success pull-right">
                Finalizar
                <i class="fas fa-angle-right"></i>
            </button>
        </div>
    </div>
    {{ form_end(cuentaForm) }}
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/dropzone/dropzone.js') }}"></script>
    <script>
        Dropzone.autoDiscover = false;
        $(function(){
            var dropzone = new Dropzone($('.dropzone')[0], {
                paramName: 'adjunto',
                init: function() {
                    this.on('error', function(file, data){
                        if(data.detail){
                            this.emit('error', file, data.detail)
                        }
                    });
                },
                dictDefaultMessage: "Arrastre aqui archivo para subir"
            })
        });
    </script>
{% endblock %}
