<nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
    <div class="container">
        <!-- Responsive Toggle Button -->
        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-minus-3 g-right-0"
                type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar"
                data-toggle="collapse" data-target="#navBar">
            <span class="hamburger hamburger--slider">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Logo -->
        <a href="{{ path('servilabor_inicio') }}" class="navbar-brand d-flex">
            <img src="{{ asset('build/servilabor/images/logo-servilabor.png') }}" alt="mainlogo"/>
        </a>
        <!-- End Logo -->

        <!-- Navigation -->
        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg"
             id="navBar">
            <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
                <!-- Intro
                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                    <a href="{{ path('servilabor_inicio') }}" class="nav-link g-py-7 g-px-0">Inicio</a>
                </li>
                End Intro -->

                <!-- Nosotros -->
                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                    <a href="{{ path('servilabor_nosotros') }}" class="nav-link g-py-7 g-px-0">Nosotros</a>
                </li>
                <!-- End Nosotros -->


                <!-- Servicios -->
                <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn"
                    data-animation-out="fadeOut">
                    <a id="nav-link-pages" class="nav-link g-py-7 g-px-0"
                       href="{{ path('servilabor_servicios') }}" aria-haspopup="true" aria-expanded="false"
                       aria-controls="nav-submenu-pages">
                        Servicios
                    </a>

                    <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling"
                        id="nav-submenu-pages" aria-labelledby="nav-link-pages">
                        <li class="dropdown-item ">
                            <a class="nav-link"
                               href="{{ path('servilabor_servicio', {servicio: 'outsourcing'}) }}">
                                Outsourcing
                            </a>
                        </li>
                        <li class="dropdown-item ">
                            <a class="nav-link" href="{{ path('servilabor_servicio', {servicio: 'rpo'}) }}">
                                Rpo
                            </a>
                        </li>
                        <li class="dropdown-item ">
                            <a class="nav-link"
                               href="{{ path('servilabor_servicio', {servicio: 'payroll'}) }}">
                                Payroll
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- End Servicios -->


                <!-- Candidatos -->
                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                    <a href="{{ path('vacante_listado') }}"
                       class="nav-link g-py-7 g-px-0">Vacantes</a>
                </li>
                <!-- End Candidatos -->


                <!-- Blog / news -->
                <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn"
                    data-animation-out="fadeOut">
                    <a id="nav-link-pages" class="nav-link g-py-7 g-px-0" href="{{ path('servilabor_blog') }}" aria-haspopup="true"
                       aria-expanded="false" aria-controls="nav-submenu-pages">
                        Blog / Laborales
                    </a>

                    <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling"
                        id="nav-submenu-pages" aria-labelledby="nav-link-pages">
                        {% for documentoLaboral in configuracion.documentosLaborales %}
                            <li class="dropdown-item ">
                                <a class="nav-link" target="_blank"
                                   href="{{ path('documento_laboral', {key: documentoLaboral.key}) }}">
                                    {{ documentoLaboral.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <!-- End Blog / news -->


                <!-- Contacto -->
                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                    <a href="{{ path('servilabor_contacto') }}" class="nav-link g-py-7 g-px-0">
                        Contacto
                    </a>
                </li>
                <!-- End Contacto -->
            </ul>
        </div>
        <!-- End Navigation -->

        {% if not app.user %}
            <div class="d-inline-block g-hidden-md-down g-pos-rel g-valign-middle g-pl-30 g-pl-0--lg">
                <div class="btn-group" role="group" aria-label="Basic example">
                    {% set active = app.request.attributes.get('_route') matches '{^registro_*}' %}
                    <a class="btn btn-outline-info g-font-size-13 text-uppercase g-py-10 g-px-15 {{ active ? 'active' : '' }}"
                       href="{{ path('registro_datos_basicos') }}">
                        Registrarse
                    </a>
                    {% set active = app.request.attributes.get('_route') in ['app_login'] %}
                    <a class="btn btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15 {{ active ? 'active' : '' }}"
                       href="{{ path('app_login') }}">
                        Iniciar sesión
                    </a>


                </div>

                {#<a class="btn u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15"
                   href="{{ path('app_login') }}">
                    Iniciar sesión
                </a>#}
            </div>
        {% else %}
            {{ include('servilabor/blocks/header/_nav-user.html.twig') }}
        {% endif %}
    </div>
</nav>