{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<h1 class="mb40">Algunas de nuestras experiencias</h1>

<div class="diapositiva-20">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-white text-center">
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">Oil & Gas y Minería</h3>
                </div>
                <div class="box-footer no-padding">
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-mansarovar.png') }}"
                                         alt="logo-mansarovar"
                                         class="logo-mansarovar logo100">
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-coquecol.png') }}"
                                         alt="logo-coquecol"
                                         class="logo-coquecol logo150">
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-unigas.png') }}"
                                         alt="logo-unigas"
                                         class="logo-unigas logo150">
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-sm-6 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-parex.jpg') }}"
                                         alt="logo-parex"
                                         class="logo-parex logo150">
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-6 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-carboquimica.jpg') }}"
                                         alt="logo-carboquimica"
                                         class="logo-carboquimica logo100">
                                </div>
                                <!-- /.description-block -->
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
            </div>
            <!-- /.widge -->
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-white text-center">
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">Alimentos y bebidas</h3>
                </div>
                <div class="box-footer no-padding">
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-kokoriko.png') }}"
                                         alt="logo-kokoriko"
                                         class="logo-kokoriko logo100">
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-bbc.png') }}" alt="logo-bbc"
                                         class="logo-bbc logo100">
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-elc.png') }}" alt="logo-elc"
                                         class="logo-elc logo100">
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-decameron.png') }}"
                                         alt="logo-decameron"
                                         class="logo-decameron logo150">
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-payande.jpg') }}"
                                         alt="logo-payande"
                                         class="logo-payande logo100">
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-ghl.png') }}" alt="logo-ghl"
                                         class="logo-ghl logo150">
                                </div>
                                <!-- /.description-block -->
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
            </div>
            <!-- /.widge -->
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-white text-center">
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">Laboratorios</h3>
                </div>
                <div class="box-footer no-padding">
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-novartis.png') }}"
                                         alt="logo-novartis"
                                         class="logo-novartis logo100">
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-pfizer.png') }}"
                                         alt="logo-pfizer"
                                         class="logo-pfizer logo100">
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-bussie.png') }}"
                                         alt="logo-bussie"
                                         class="logo-bussie logo100">
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-fmc.jpg') }}" alt="logo-fmc"
                                         class="logo-fmc logo150">
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-astrazeneca.png') }}"
                                         alt="logo-astrazeneca"
                                         class="logo-astrazeneca logo150">
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-naos.png') }}"
                                         alt="logo-naos"
                                         class="logo-naos logo150">
                                </div>
                                <!-- /.description-block -->
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
            </div>
            <!-- /.widge -->
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-white text-center">
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">Industria y Servicios</h3>
                </div>
                <div class="box-footer no-padding">
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-lexmark.png') }}"
                                         alt="logo-lexmark"
                                         class="logo-lexmark logo100">
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-dersa.png') }}"
                                         alt="logo-dersa"
                                         class="logo-dersa logo100">
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-etb.png') }}" alt="logo-etb"
                                         class="logo-etb logo100">
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-bbogota.png') }}"
                                         alt="logo-bbogota"
                                         class="logo-bbogota logo100">
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-clorox.png') }}"
                                         alt="logo-clorox"
                                         class="logo-clorox logo100">
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-brepublica.png') }}"
                                         alt="logo-brepublica"
                                         class="logo-brepublica logo100">
                                </div>
                                <!-- /.description-block -->
                            </div>
                        </div>
                        <!-- /.row -->
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-indumil.jpg') }}"
                                         alt="logo-indumil"
                                         class="logo-indumil logo150">
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-distoyota.png') }}"
                                         alt="logo-distoyota"
                                         class="logo-distoyota logo100">
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <img src="{{ asset('img/sel/evaluacion/induccion/logo-cemex.png') }}"
                                         alt="logo-cemex"
                                         class="logo-cemex logo100">
                                </div>
                                <!-- /.description-block -->
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
            </div>
            <!-- /.widge -->
        </div>
    </div>
</div>
{% endblock %}