<div class="col-lg-3 order-lg-2">
    <aside class="sidebar">
        {% for category in documentosLaborales.categories %}
            <div class="tabs tabs-dark mb-4 pb-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item active">
                        <a class="nav-link show active text-1 font-weight-bold text-uppercase" href="#popularPosts" data-toggle="tab">
                            {{ category }}
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="popularPosts">
                        <ul class="simple-post-list">
                            {% for documentoLaboral in documentosLaborales.byCategory(category) %}
                                <li>
                                    <div class="post-info">
                                        <a href="{{ path('documento_laboral', {key: documentoLaboral.key}) }}" target="_blank">
                                            {{ documentoLaboral.title }}
                                        </a>
                                        <div class="post-meta">
                                            {{ documentoLaboral.date|date('M d, Y') }}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
        <h5 class="font-weight-bold pt-4">Categorias</h5>
        <ul class="nav nav-list flex-column mb-5">
            {% for tag in tags %}
                <li class="nav-item">
                    {% set tagClass = 'nav-link' %}
                    {% set tagHref = path('pta_noticias_categoria', { slug: tag.slug }) %}
                    {% if tagSelected is not null and tagSelected.id == tag.id %}
                        {% set tagClass = 'nav-link active' %}
                        {% set tagHref = path('pta_noticias') %}
                    {% endif %}

                    <a class="{{ tagClass }}" href="{{ tagHref }}">
                        {{ tag.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </aside>
</div>