<h1>Mensaje formulario pagina {{ configuracion.razon }}</h1>
<p><b>La persona : </b> {{ contacto.nombre }}</p>
<p><b>Con correo : </b> {{ contacto.from }} </p>

{% if contacto.asunto is not null %}
    <p>
        Mando el siguiente mensaje con el asunto : <b>{{ contacto.asunto }}</b>
    </p>
{% else %}
    <p>
        Mando el siguiente mensaje:
    </p>
{% endif %}
<h3>Mensaje:</h3>
<p>{{ contacto.mensaje }}</p>