<p>
    Se ha solicitado un cambio de contrase침a desde la pagina web de
    {{ configuracion.razon }} para {{ restaurarClave.usuario.nombreCompleto }} {{ restaurarClave.usuario.identificacion }}
</p>
<p>
    Si solicit칩 este cambio, por favor ingrese al siguiente link
    {% set link = url('security_restaurar', {id: restaurarClave.usuario.id, token: restaurarClave.token|url_encode }) %}
    <a href='{{ link }}'>
        {{ link }}
    </a>
</p>
<p>Si no realiz칩 ninguna solicitud para cambio de contrase침a, haga caso omiso a este mensaje</p>