<h1>Solicitud servicio desde la pagina {{ configuracion.razon }}</h1>

<p><b>Nombre empresa : </b> {{ solicitudServicio.nombreEmpresa }}</p>
<p><b>Sector : </b> {{ solicitudServicio.sector }}</p>
<p><b>Tipo servicio : </b> {{ tipoServicio }} </p>
<p><b>Nombre contacto : </b> {{ solicitudServicio.nombreContacto }} </p>
<p><b>Email corporativo : </b> {{ solicitudServicio.emailCorporativo }} </p>
<p><b>Telefono contacto : </b> {{ solicitudServicio.telefonoContacto }} </p>

<h3>Comentario:</h3>
<p>{{ solicitudServicio.comentario }}</p>