{% extends 'base.html.twig' %}
{% import 'datatable/input.datatable.html.twig' as input %}

{% set searching = datatable.options.searching is defined and datatable.options.searching == true %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/datatables2/datatables.min.css') }}">
{% endblock %}


{% block body_header_right %}
    {% if searching %}
        {{ input.search("search-dt-text", "search-dt-button") }}
    {% endif %}
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col">
            <div id="datatable">Loading...</div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% embed 'datatable/javascripts.datatable.html.twig' %}
        {% block script_datatable %}
            <script>
                $(function () {
                    $('#datatable')
                        .initDataTables({{ datatable_settings(datatable) }}, {fixedHeader: true})
                        .then(dt => {
                            {% if searching %}
                            const search = () => dt.search($('#search-dt-text').val()).draw();
                            $('#search-dt-button').click(search);
                            $('#search-dt-text').on('keypress', e => e.which === 13 ? search() : null)
                            {% endif %}
                            dt.fixedHeader.adjust();
                        });
                });
            </script>
        {% endblock %}
    {% endembed %}

{% endblock %}