{% extends 'base.html.twig' %}
{% import 'datatable/input.datatable.html.twig' as input %}

{% set searching = datatable.options.searching is defined and datatable.options.searching == true %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('datatable') }}
{% endblock %}


{% block body_header_right %}
    {% if searching %}
        {{ input.search("search-dt-text", "search-dt-button") }}
    {% endif %}
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col">
            <div class="datatable" {{ sel_datatable_settings(datatable) }} data-searching="{{ searching }}">
                Cargando ...
            </div>
        </div>
        {{ include('default/_modal-borrar.html.twig') }}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datatable') }}
{% endblock %}