{% use 'default/javascripts.html.twig' with javascripts_vendor as default_javascripts_vendor, javascripts as default_javascripts %}

<!doctype html>
<html class="fixed sidebar-left-collapsed" lang="es">
<head>
    <!-- Basic -->
    <meta charset="UTF-8">

    <title>{% block title %}Servicios en linea{% endblock %}</title>
    <meta name="keywords" content="HTML5 Admin Template"/>
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
          rel="stylesheet" type="text/css">

    {% block stylesheets %}
        <!-- Vendor CSS -->
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/all.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('vendor/magnific-popup/magnific-popup.css') }}">

        <!-- Theme CSS -->
        <link rel="stylesheet" href="{{ asset('css/sel/theme.css') }}"/>

        <!-- Skin CSS -->
        <link rel="stylesheet" href="{{ asset('css/sel/skins/default.css') }}"/>

        <!-- Theme Custom CSS -->
        <link rel="stylesheet" href="{{ asset('css/sel/custom.css') }}">
    {% endblock %}

    <!-- Head Libs -->
    <script src="{{ asset('vendor/modernizr/modernizr.js') }}"></script>

</head>
<body>
<section class="body">
    <header class="header">
        {{ include('sel/header/_header.html.twig') }}
    </header>

    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <aside id="sidebar-left" class="sidebar-left">

            <div class="sidebar-header">
                <div class="sidebar-title">
                    Navigation
                </div>
                <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed"
                     data-target="html" data-fire-event="sidebar-left-toggle">
                    <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <div class="nano">
                <div class="nano-content">
                    <nav id="menu" class="nav-main" role="navigation">
                        {{ knp_menu_render(
                            'main', {
                                'currentClass': 'nav-active',
                                'ancestorClass': 'nav-expanded nav-active',
                                'branch_class': 'nav-parent',
                                'rootClass': 'nav nav-main'
                            }, 'custom') }}
                    </nav>
                </div>
            </div>

        </aside>
        <!-- end: sidebar -->
        <section role="main" class="{% block section_class %}content-body custom{% endblock %}">
            <header class="page-header">
                <h2>
                    {% block body_header_title %}
                    {% endblock %}
                </h2>
                {% block body_header_right %}
                {% endblock %}
            </header>

            {{ include('default/_flash_messages.html.twig') }}


            <!-- start: page -->
            {% block body %}{% endblock %}
            <!-- end: page -->

        </section>
    </div>
</section>

{% block javascripts_vendor %}
    {{ block('default_javascripts_vendor') }}
{% endblock %}

{% block javascripts %}
    {{ block('default_javascripts') }}
{% endblock %}


</body>
</html>