<!-- Header -->
<header id="js-header" class="u-header u-header--static">
    <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
        <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
            <div class="container">
                <!-- Responsive Toggle Button -->
                <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-minus-3 g-right-0"
                        type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar"
                        data-toggle="collapse" data-target="#navBar">
                        <span class="hamburger hamburger--slider">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </span>
                </button>
                <!-- End Responsive Toggle Button -->

                <!-- Logo -->
                <a href="{{ path('servilabor_inicio') }}" class="navbar-brand d-flex">
                    <img src="{{ asset('img/servilabor/logo-servilabor.png') }}" alt="mainlogo"/>
                </a>
                <!-- End Logo -->

                <!-- Navigation -->
                <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg"
                     id="navBar">
                    <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
                        <!-- Intro -->
                        <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                            <a href="{{ path('servilabor_inicio') }}" class="nav-link g-py-7 g-px-0">Inicio</a>
                        </li>
                        <!-- End Intro -->

                        <!-- Nosotros -->
                        <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                            <a href="{{ path('servilabor_nosotros') }}" class="nav-link g-py-7 g-px-0">Nosotros</a>
                        </li>
                        <!-- End Nosotros -->


                        <!-- Servicios -->
                        <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn"
                            data-animation-out="fadeOut">
                            <a id="nav-link-pages" class="nav-link g-py-7 g-px-0"
                               href="{{ path('servilabor_servicios') }}" aria-haspopup="true" aria-expanded="false"
                               aria-controls="nav-submenu-pages">
                                Servicios
                            </a>

                            <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling"
                                id="nav-submenu-pages" aria-labelledby="nav-link-pages">
                                <li class="dropdown-item ">
                                    <a class="nav-link"
                                       href="{{ path('servilabor_servicio', {servicio: 'outsourcing'}) }}">
                                        Outsourcing
                                    </a>
                                </li>
                                <li class="dropdown-item ">
                                    <a class="nav-link" href="{{ path('servilabor_servicio', {servicio: 'rpo'}) }}">
                                        Rpo
                                    </a>
                                </li>
                                <li class="dropdown-item ">
                                    <a class="nav-link"
                                       href="{{ path('servilabor_servicio', {servicio: 'payroll'}) }}">
                                        Payroll
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- End Servicios -->

                        <!-- Candidatos -->
                        <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                            <a href="{{ path('servilabor_candidatos') }}"
                               class="nav-link g-py-7 g-px-0">Candidatos</a>
                        </li>
                        <!-- End Candidatos -->

                        <!-- Blog / news -->
                        <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn"
                            data-animation-out="fadeOut">
                            <a id="nav-link-pages" class="nav-link g-py-7 g-px-0" href="#" aria-haspopup="true"
                               aria-expanded="false" aria-controls="nav-submenu-pages">
                                Blog / news
                            </a>

                            <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling"
                                id="nav-submenu-pages" aria-labelledby="nav-link-pages">
                                <li class="dropdown-item ">
                                    <a class="nav-link" href="../../unify-main/pages/page-about-1.html">
                                        Reglamento interno
                                    </a>
                                </li>
                                <li class="dropdown-item ">
                                    <a class="nav-link" href="../../unify-main/pages/page-about-2.html">
                                        Política de seguridad y salud
                                    </a>
                                </li>
                                <li class="dropdown-item ">
                                    <a class="nav-link" href="../../unify-main/pages/page-about-3.html">
                                        Reglamento de higiene y salud
                                    </a>
                                </li>
                                <li class="dropdown-item ">
                                    <a class="nav-link" href="../../unify-main/pages/page-about-4.html">
                                        Política prevensión de sustancias psicoactivas
                                    </a>
                                </li>
                                <li class="dropdown-item ">
                                    <a class="nav-link" href="../../unify-main/pages/page-about-4.html">
                                        Política de seguridad vial
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- End Blog / news -->


                        <!-- Contacto -->
                        <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                            <a href="{{ path('servilabor_contacto') }}" class="nav-link g-py-7 g-px-0">
                                Contacto
                            </a>
                        </li>
                        <!-- End Contacto -->
                    </ul>
                </div>
                <!-- End Navigation -->

                <div class="d-inline-block g-hidden-md-down g-pos-rel g-valign-middle g-pl-30 g-pl-0--lg">
                    <a class="btn u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15"
                       href="{{ path('app_login') }}">
                        Iniciar sesión
                    </a>
                </div>
            </div>
        </nav>




        <nav class="js-mega-menu navbar navbar-expand-lg g-brd-y g-brd-2 g-pa-0 admin">
            <div class="container">
                <!-- Responsive Toggle Button -->
                <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0" type="button"
                        aria-label="Toggle navigation"
                        aria-expanded="false"
                        aria-controls="navBar"
                        data-toggle="collapse"
                        data-target="#navBar">
                        <span class="hamburger hamburger--slider g-px-0">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </span>
                </button>
                <!-- End Responsive Toggle Button -->

                <!-- Navigation -->
                <div id="navBar"
                     class="collapse navbar-collapse align-items-center order-lg-last g-brd-top g-brd-none--lg g-brd-primary-dark-v1">

                    {{ knp_menu_render(
                        'main', {
                            'icons': false,
                            'currentClass': 'nav-active',
                            'ancestorClass': 'nav-expanded nav-active',
                            'branch_class': 'hs-has-sub-menu',
                            'root': {
                                'attributes': {
                                    'class': 'navbar-nav g-py-30 g-py-0--lg',
                                }
                            },
                            'list': {
                                'attributes': {
                                    'class': 'hs-sub-menu list-unstyled u-shadow-v11 g-min-width-220 g-mt-2 animated'
                                }
                            },
                            'item': {
                                'attributes': {
                                    'class': {
                                        'getLevel' : {
                                            1: 'nav-item',
                                            2: 'dropdown-item'
                                        }
                                    }
                                }
                            },
                            'link': {
                                'attributes': {
                                    'class': {
                                        'getLevel' : {
                                            1: 'nav-link g-color-white g-brd-x--lg g-brd-primary-dark-v1 g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-default g-px-17 g-px-23--xl g-py-15',
                                            2: 'nav-link g-color-text g-font-weight-600'
                                        }
                                    }
                                }
                            }
                        }, 'custom') }}
                </div>
                <!-- End Navigation -->
            </div>
        </nav>
    </div>
</header>
<!-- End Header -->