<nav class="collapse">
    <ul class="nav nav-pills" id="mainNav">
        <li class="dropdown">
            <a href="{{ path('pta_index') }}"
               class="dropdown-item dropdown-toggle" >
                Inicio
            </a>
        </li>
        <li class="dropdown dropdown-mega">
            <a class="dropdown-item dropdown-toggle"
               href="{{ path('pta_nosotros') }}">
                Nosotros
            </a>
        </li>
        <li class="dropdown">
            <a class="dropdown-item dropdown-toggle"
               href="{{ path('pta_servicios') }}">
                Servicios
            </a>
        </li>
        <li class="dropdown">
            <a class="dropdown-item dropdown-toggle active"
               href="{{ path('vacante_listado') }}">
                Ofertas de empleo
            </a>
        </li>
        <li class="dropdown">
            <a class="dropdown-item dropdown-toggle"
               href="{{ path('pta_noticias') }}">
                Blog / Noticias
            </a>
        </li>
        <li class="dropdown">
            <a class="dropdown-item dropdown-toggle"
               href="{{ path('pta_contacto') }}">
                Contacto
            </a>
        </li>
    </ul>
</nav>