{% extends 'base.html.twig' %}
{% from 'clientes/_liquidacion-nomina.html.twig' import liquidacion_nomina %}

{% block title %}
    Empleado detalle
{% endblock %}
{% block body_header_class %}no-content{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin-hv') }}
    {{ encore_entry_link_tags('portal-clientes') }}
    {{ encore_entry_link_tags('clientes') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('portal-clientes') }}
    {{ encore_entry_script_tags('clientes') }}
{% endblock %}


{% block body %}
    <div class="row" id="hv-detalle">
        <div id="basicos" class="col-xl-12 mb-4 mb-xl-4">

            <section class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="profile thumb-info mb-3">
                                {#                        <img src="{{ asset('img/!logged-user.jpg') }}" class="rounded img-fluid" alt="John Doe">#}
                                <div class="img-wrap rounded img-fluid"></div>
                                <div class="thumb-info-title">
                                    <span class="thumb-info-inner">{{ trabajadorActivo.empleado.usuario.nombreCompleto }}</span>
                                    <span class="thumb-info-type">
                                        <br>
                                        {{ trabajadorActivo.empleado.usuario.identificacion }}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="mb-2 mt-3">Contrato</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="text-2">
                                        <b>Fecha Ingreso : </b>
                                        {{ trabajadorActivo.fechaIngreso|date('Y-m-d') }}<br>
                                        <b>Fecha Retiro : </b>
                                        {{ trabajadorActivo.fechaRetiro|date('Y-m-d') }}<br>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-2">
                                        <b>Ingreso básico : </b>
                                        {{ trabajadorActivo.ingresoBasico|number_format(0) }}<br>
                                        <b>Labor : </b>
                                        {{ trabajadorActivo.labor }}<br>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <h5 class="mb-2 mt-3">Salud y pensión</h5>
                            <p class="text-2">
                                <b>Caja : </b>
                                {{ trabajadorActivo.caja }}<br>
                                <b>Promotora salud : </b>
                                {{ trabajadorActivo.promotoraSalud }}<br>
                                <b>Admin pensión : </b>
                                {{ trabajadorActivo.adminPension }}<br>
                            </p>
                        </div>

                    </div>
                </div>
            </section>

        </div>

        <div class="col-xl-12">
            <div id="app"
                 data-convenio="{{ convenio|json_encode }}"
                 data-is-admin="{{ isAdmin }}"
                 data-empleado="{{ empleado|json_encode }}">
            </div>

        </div>
    </div>

{% endblock %}