{% extends 'base.html.twig' %}
{% from 'clientes/_liquidacion-nomina.html.twig' import liquidacion_nomina %}

{% block title %}
    Empleado detalle
{% endblock %}
{% block body_header_class %}no-content{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin-hv') }}
    {{ encore_entry_link_tags('portal-clientes') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('portal-clientes') }}
{% endblock %}


{% block body %}
    <div class="row" id="hv-detalle">
        <div id="basicos" class="col-xl-12 mb-4 mb-xl-4">

            <section class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="profile thumb-info mb-3">
                                {#                        <img src="{{ asset('img/!logged-user.jpg') }}" class="rounded img-fluid" alt="John Doe">#}
                                <div class="img-wrap rounded img-fluid"></div>
                                <div class="thumb-info-title">
                                    <span class="thumb-info-inner">{{ trabajadorActivo.empleado.usuario.nombreCompleto }}</span>
                                    <span class="thumb-info-type">
                                        <br>
                                        {{ trabajadorActivo.empleado.usuario.identificacion }}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="mb-2 mt-3">Contrato</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="text-2">
                                        <b>Fecha Ingreso : </b>
                                        {{ trabajadorActivo.fechaIngreso|date('Y-m-d') }}<br>
                                        <b>Fecha Retiro : </b>
                                        {{ trabajadorActivo.fechaRetiro|date('Y-m-d') }}<br>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-2">
                                        <b>Ingreso básico : </b>
                                        {{ trabajadorActivo.ingresoBasico|number_format(0) }}<br>
                                        <b>Labor : </b>
                                        {{ trabajadorActivo.labor }}<br>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <h5 class="mb-2 mt-3">Salud y pensión</h5>
                            <p class="text-2">
                                <b>Caja : </b>
                                {{ trabajadorActivo.caja }}<br>
                                <b>Promotora salud : </b>
                                {{ trabajadorActivo.promotoraSalud }}<br>
                                <b>Admin pensión : </b>
                                {{ trabajadorActivo.adminPension }}<br>
                            </p>
                        </div>

                    </div>
                </div>
            </section>

        </div>

        <div class="col-xl-12">

            <div class="tabs">
                <ul class="nav nav-tabs tabs-primary">
                    <li class="nav-item active">
                        <a class="nav-link" href="#nomina" data-toggle="tab">
                            <i class="fas fa-columns mr-2" aria-hidden="true"></i>
                            Liquidacion nomina
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#seguridad" data-toggle="tab">
                            <i class="fas fa-copy mr-2" aria-hidden="true"></i>Pagos seguridad social</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="nomina" class="tab-pane active">
                        <table class="table liquidacion-nomina">
                            {% for liquidacionNomina in liquidacionesNomina %}
                                {{ liquidacion_nomina(liquidacionNomina, false, true) }}
                            {% endfor %}
                        </table>
                    </div>
                    <div id="seguridad" class="tab-pane">
                        <div class="row">
                            <div class="col">
                                <div class="datatable" {{ sel_datatable_settings(datatable) }}>
                                    Loading...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}